# Player Ball By Ball data

### Making the final input.

Using all the dataframes we have already worked on, we are going to use them now to implement the final input.

**Inputs:**
- Player Bowling and Batting Stats
- Player

In [1]:
import numpy as np
import pandas as pd

In [11]:
# Loading all the player stats data form disk
bowlingStats = pd.read_csv("playerData/bowling.csv")
battingStats = pd.read_csv("playerData/batting.csv")
bowlingStats.set_index("S. no")
battingStats.set_index("S. no")

# loading the match data from the disk
innings = pd.read_csv("match_data.csv")
innings.set_index(["Match Code", "Country", "Over", "Ball"], inplace = True)
innings

C:\Users\HOME\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

                                            batter         bowler  \
Match Code Country     Over Ball
1381452    Austria     0    0     M Simpson-Parker  Ghulam Ahmadi
                            1     M Simpson-Parker  Ghulam Ahmadi
                            2     M Simpson-Parker  Ghulam Ahmadi
                            3     M Simpson-Parker  Ghulam Ahmadi
                            4     M Simpson-Parker  Ghulam Ahmadi
...                                            ...            ...
211048     New Zealand 19   1            JW Wilson     GD McGrath
                            2            JW Wilson     GD McGrath
                            3            DR Tuffey     GD McGrath
                            4            DR Tuffey     GD McGrath
                            5             KD Mills     GD McGrath

                                    non_striker  batter runs  extra runs  \
Match Code Country     Over Ball
1381452    Austria     0    0     Iqbal Hossain            0           0
                            1     Iqbal Hossain            4           0
                            2     Iqbal Hossain            0           0
                            3     Iqbal Hossain            0           0
                            4     Iqbal Hossain            1           0
...                                         ...          ...         ...
211048     New Zealand 19   1          KD Mills            2           0
                            2          KD Mills            0           0
                            3          KD Mills            4           0
                            4          KD Mills            1           0
                            5         DR Tuffey            0           0

                                  total runs  score extras  \
Match Code Country     Over Ball
1381452    Austria     0    0              0      0    NaN
                            1              4      4    NaN
                            2              0      4    NaN
                            3              0      4    NaN
                            4              1      5    NaN
...                                      ...    ...    ...
211048     New Zealand 19   1              2    165    NaN
                            2              0    165    NaN
                            3              4    169    NaN
                            4              1    170    NaN
                            5              0    170    NaN

                                                                            wickets  \
Match Code Country     Over Ball
1381452    Austria     0    0                                                   NaN
                            1                                                   NaN
                            2                                                   NaN
                            3                                                   NaN
                            4                                                   NaN
...                                                                             ...
211048     New Zealand 19   1                                                   NaN
                            2       [{'kind': 'bowled', 'player_out': 'JW Wilson'}]
                            3                                                   NaN
                            4                                                   NaN
                            5     [{'kind': 'caught', 'player_out': 'KD Mills', ...

                                  out  Total Wickets non_boundary review  \
Match Code Country     Over Ball
1381452    Austria     0    0       0              0          NaN    NaN
                            1       0              0          NaN    NaN
                            2       0              0          NaN    NaN
                            3       0              0          NaN    NaN
                            4       0              0          NaN    NaN
...                               ...            ...          ...    ...
211048     New Zealand 19   1       0              8          NaN    NaN
                            2       1              9          NaN    NaN
                            3       0              9          NaN    NaN
                            4       0              9          NaN    NaN
                            5       1             10          NaN    NaN

                                 replacements
Match Code Country     Over Ball
1381452    Austria     0    0             NaN
                            1             NaN
                            2             NaN
                            3             NaN
                            4             NaN
...                                       ...
211048     New Zealand 19   1             NaN
                            2             NaN
                            3             NaN
                            4             NaN
                            5             NaN

[407789 rows x 14 columns]

In [8]:
innings.to_csv("match_data.csv")