# Processing the right output for each match

In [3]:
import pandas as pd
import numpy as np
from pathlib import Path
import random
current_dir = Path.cwd()
parent_dir = current_dir.parent.parent

In [4]:
innings = pd.read_pickle(parent_dir/"Resources"/"match_data.pkl")
final_data = pd.read_pickle(parent_dir/"Resources"/"final_data.pkl")

In [5]:
final_data

                               Player Status                                 \
                                Batting Team
                                          P1   P2    P3   P4   P5   P6   P7
Match Code Country   Over Ball
211028     Australia 0    0             10.0  5.0   1.0  1.0  1.0  1.0  1.0
                          1             10.0  5.0   1.0  1.0  1.0  1.0  1.0
                          2             10.0  5.0   1.0  1.0  1.0  1.0  1.0
                          3             10.0  5.0   1.0  1.0  1.0  1.0  1.0
                          4             10.0  5.0   1.0  1.0  1.0  1.0  1.0
...                                      ...  ...   ...  ...  ...  ...  ...
1381457    Serbia    7    4             10.0  0.0   5.0  1.0  1.0  1.0  1.0
                          5             10.0  0.0   5.0  1.0  1.0  1.0  1.0
                     8    0              5.0  0.0  10.0  1.0  1.0  1.0  1.0
                          1             10.0  0.0   5.0  1.0  1.0  1.0  1.0
                          2              5.0  0.0  10.0  1.0  1.0  1.0  1.0

                                               ...  \
                                               ...
                                 P8   P9  P10  ...
Match Code Country   Over Ball                 ...
211028     Australia 0    0     1.0  1.0  1.0  ...
                          1     1.0  1.0  1.0  ...
                          2     1.0  1.0  1.0  ...
                          3     1.0  1.0  1.0  ...
                          4     1.0  1.0  1.0  ...
...                             ...  ...  ...  ...
1381457    Serbia    7    4     1.0  1.0  1.0  ...
                          5     1.0  1.0  1.0  ...
                     8    0     1.0  1.0  1.0  ...
                          1     1.0  1.0  1.0  ...
                          2     1.0  1.0  1.0  ...

                                                                 Ground Data  \
                                                                           -
                               Gahanga International Cricket Stadium, Rwanda
Match Code Country   Over Ball
211028     Australia 0    0                                              0.0
                          1                                              0.0
                          2                                              0.0
                          3                                              0.0
                          4                                              0.0
...                                                                      ...
1381457    Serbia    7    4                                              0.0
                          5                                              0.0
                     8    0                                              0.0
                          1                                              0.0
                          2                                              0.0

                                                                          \

                               Zahur Ahmed Chowdhury Stadium, Chattogram
Match Code Country   Over Ball
211028     Australia 0    0                                          0.0
                          1                                          0.0
                          2                                          0.0
                          3                                          0.0
                          4                                          0.0
...                                                                  ...
1381457    Serbia    7    4                                          0.0
                          5                                          0.0
                     8    0                                          0.0
                          1                                          0.0
                          2                                          0.0

                                                             \

                               St Albans Club, Buenos Aires
Match Code Country   Over Ball
211028     Australia 0    0                             0.0
                          1                             0.0
                          2                             0.0
                          3                             0.0
                          4                             0.0
...                                                     ...
1381457    Serbia    7    4                             0.0
                          5                             0.0
                     8    0                             0.0
                          1                             0.0
                          2                             0.0

                                                                            \

                               Belgrano Athletic Club Ground, Buenos Aires
Match Code Country   Over Ball
211028     Australia 0    0                                            0.0
                          1                                            0.0
                          2                                            0.0
                          3                                            0.0
                          4                                            0.0
...                                                                    ...
1381457    Serbia    7    4                                            0.0
                          5                                            0.0
                     8    0                                            0.0
                          1                                            0.0
                          2                                            0.0

                                                                     \

                               Hurlingham Club Ground, Buenos Aires
Match Code Country   Over Ball
211028     Australia 0    0                                     0.0
                          1                                     0.0
                          2                                     0.0
                          3                                     0.0
                          4                                     0.0
...                                                             ...
1381457    Serbia    7    4                                     0.0
                          5                                     0.0
                     8    0                                     0.0
                          1                                     0.0
                          2                                     0.0

                                                                         \

                               Mission Road Ground, Mong Kok, Hong Kong
Match Code Country   Over Ball
211028     Australia 0    0                                         0.0
                          1                                         0.0
                          2                                         0.0
                          3                                         0.0
                          4                                         0.0
...                                                                 ...
1381457    Serbia    7    4                                         0.0
                          5                                         0.0
                     8    0                                         0.0
                          1                                         0.0
                          2                                         0.0

                                                                              \

                               Santarem Cricket Ground Europa Sports Complex
Match Code Country   Over Ball
211028     Australia 0    0                        0.0                   0.0
                          1                        0.0                   0.0
                          2                        0.0                   0.0
                          3                        0.0                   0.0
                          4                        0.0                   0.0
...                                                ...                   ...
1381457    Serbia    7    4                        0.0                   0.0
                          5                        0.0                   0.0
                     8    0                        0.0                   0.0
                          1                        0.0                   0.0
                          2                        0.0                   0.0

                                                        \

                               Solvangs Park, Glostrup
Match Code Country   Over Ball
211028     Australia 0    0                        0.0
                          1                        0.0
                          2                        0.0
                          3                        0.0
                          4                        0.0
...                                                ...
1381457    Serbia    7    4                        0.0
                          5                        0.0
                     8    0                        0.0
                          1                        0.0
                          2                        0.0



                               Sportpark Het Schootsveld, Deventer
Match Code Country   Over Ball
211028     Australia 0    0                                    0.0
                          1                                    0.0
                          2                                    0.0
                          3                                    0.0
                          4                                    0.0
...                                                            ...
1381457    Serbia    7    4                                    0.0
                          5                                    0.0
                     8    0                                    0.0
                          1                                    0.0
                          2                                    0.0

[285670 rows x 447 columns]

In [6]:
innings

                                            batter         bowler  \
Match Code Country     Over Ball
1381452    Austria     0    0     M Simpson-Parker  Ghulam Ahmadi
                            1     M Simpson-Parker  Ghulam Ahmadi
                            2     M Simpson-Parker  Ghulam Ahmadi
                            3     M Simpson-Parker  Ghulam Ahmadi
                            4     M Simpson-Parker  Ghulam Ahmadi
...                                            ...            ...
211048     New Zealand 19   1            JW Wilson     GD McGrath
                            2            JW Wilson     GD McGrath
                            3            DR Tuffey     GD McGrath
                            4            DR Tuffey     GD McGrath
                            5             KD Mills     GD McGrath

                                    non_striker  batter runs  extra runs  \
Match Code Country     Over Ball
1381452    Austria     0    0     Iqbal Hossain            0           0
                            1     Iqbal Hossain            4           0
                            2     Iqbal Hossain            0           0
                            3     Iqbal Hossain            0           0
                            4     Iqbal Hossain            1           0
...                                         ...          ...         ...
211048     New Zealand 19   1          KD Mills            2           0
                            2          KD Mills            0           0
                            3          KD Mills            4           0
                            4          KD Mills            1           0
                            5         DR Tuffey            0           0

                                  total runs  score extras    wickets  out  \
Match Code Country     Over Ball
1381452    Austria     0    0              0      0    NaN        NaN    0
                            1              4      4    NaN        NaN    0
                            2              0      4    NaN        NaN    0
                            3              0      4    NaN        NaN    0
                            4              1      5    NaN        NaN    0
...                                      ...    ...    ...        ...  ...
211048     New Zealand 19   1              2    165    NaN        NaN    0
                            2              0    165    NaN  JW Wilson    1
                            3              4    169    NaN        NaN    0
                            4              1    170    NaN        NaN    0
                            5              0    170    NaN   KD Mills    1

                                  Total Wickets non_boundary review  \
Match Code Country     Over Ball
1381452    Austria     0    0                 0          NaN    NaN
                            1                 0          NaN    NaN
                            2                 0          NaN    NaN
                            3                 0          NaN    NaN
                            4                 0          NaN    NaN
...                                         ...          ...    ...
211048     New Zealand 19   1                 8          NaN    NaN
                            2                 9          NaN    NaN
                            3                 9          NaN    NaN
                            4                 9          NaN    NaN
                            5                10          NaN    NaN

                                 replacements
Match Code Country     Over Ball
1381452    Austria     0    0             NaN
                            1             NaN
                            2             NaN
                            3             NaN
                            4             NaN
...                                       ...
211048     New Zealand 19   1             NaN
                            2             NaN
                            3             NaN
                            4             NaN
                            5             NaN

[407789 rows x 14 columns]

In [7]:
innings_grouped = innings['score'].groupby(['Match Code', 'Country'])

In [8]:
output_scores = innings_grouped.apply(max).to_frame()
output_scores.columns = pd.MultiIndex.from_product([['Final Output'], ['Output Score'], ['Score']])
output_scores

                        Final Output
                        Output Score
                               Score
Match Code Country
1381452    Austria               121
           Germany               123
1381451    Austria               114
           Germany               115
1381456    Croatia                83
...                              ...
222678     South Africa          133
211028     Australia              79
           England               179
211048     Australia             214
           New Zealand           170

[3525 rows x 1 columns]

In [9]:
final_data.reset_index(["Over", "Ball"])

                     Over Ball Player Status                                 \
                                Batting Team
                                          P1   P2    P3   P4   P5   P6   P7
Match Code Country
211028     Australia    0    0          10.0  5.0   1.0  1.0  1.0  1.0  1.0
           Australia    0    1          10.0  5.0   1.0  1.0  1.0  1.0  1.0
           Australia    0    2          10.0  5.0   1.0  1.0  1.0  1.0  1.0
           Australia    0    3          10.0  5.0   1.0  1.0  1.0  1.0  1.0
           Australia    0    4          10.0  5.0   1.0  1.0  1.0  1.0  1.0
...                   ...  ...           ...  ...   ...  ...  ...  ...  ...
1381457    Serbia       7    4          10.0  0.0   5.0  1.0  1.0  1.0  1.0
           Serbia       7    5          10.0  0.0   5.0  1.0  1.0  1.0  1.0
           Serbia       8    0           5.0  0.0  10.0  1.0  1.0  1.0  1.0
           Serbia       8    1          10.0  0.0   5.0  1.0  1.0  1.0  1.0
           Serbia       8    2           5.0  0.0  10.0  1.0  1.0  1.0  1.0

                           ...                                   Ground Data  \
                           ...                                             -
                       P8  ... Gahanga International Cricket Stadium, Rwanda
Match Code Country         ...
211028     Australia  1.0  ...                                           0.0
           Australia  1.0  ...                                           0.0
           Australia  1.0  ...                                           0.0
           Australia  1.0  ...                                           0.0
           Australia  1.0  ...                                           0.0
...                   ...  ...                                           ...
1381457    Serbia     1.0  ...                                           0.0
           Serbia     1.0  ...                                           0.0
           Serbia     1.0  ...                                           0.0
           Serbia     1.0  ...                                           0.0
           Serbia     1.0  ...                                           0.0

                                                                \

                     Zahur Ahmed Chowdhury Stadium, Chattogram
Match Code Country
211028     Australia                                       0.0
           Australia                                       0.0
           Australia                                       0.0
           Australia                                       0.0
           Australia                                       0.0
...                                                        ...
1381457    Serbia                                          0.0
           Serbia                                          0.0
           Serbia                                          0.0
           Serbia                                          0.0
           Serbia                                          0.0

                                                   \

                     St Albans Club, Buenos Aires
Match Code Country
211028     Australia                          0.0
           Australia                          0.0
           Australia                          0.0
           Australia                          0.0
           Australia                          0.0
...                                           ...
1381457    Serbia                             0.0
           Serbia                             0.0
           Serbia                             0.0
           Serbia                             0.0
           Serbia                             0.0

                                                                  \

                     Belgrano Athletic Club Ground, Buenos Aires
Match Code Country
211028     Australia                                         0.0
           Australia                                         0.0
           Australia                                         0.0
           Australia                                         0.0
           Australia                                         0.0
...                                                          ...
1381457    Serbia                                            0.0
           Serbia                                            0.0
           Serbia                                            0.0
           Serbia                                            0.0
           Serbia                                            0.0

                                                           \

                     Hurlingham Club Ground, Buenos Aires
Match Code Country
211028     Australia                                  0.0
           Australia                                  0.0
           Australia                                  0.0
           Australia                                  0.0
           Australia                                  0.0
...                                                   ...
1381457    Serbia                                     0.0
           Serbia                                     0.0
           Serbia                                     0.0
           Serbia                                     0.0
           Serbia                                     0.0

                                                               \

                     Mission Road Ground, Mong Kok, Hong Kong
Match Code Country
211028     Australia                                      0.0
           Australia                                      0.0
           Australia                                      0.0
           Australia                                      0.0
           Australia                                      0.0
...                                                       ...
1381457    Serbia                                         0.0
           Serbia                                         0.0
           Serbia                                         0.0
           Serbia                                         0.0
           Serbia                                         0.0

                                                                    \

                     Santarem Cricket Ground Europa Sports Complex
Match Code Country
211028     Australia                     0.0                   0.0
           Australia                     0.0                   0.0
           Australia                     0.0                   0.0
           Australia                     0.0                   0.0
           Australia                     0.0                   0.0
...                                      ...                   ...
1381457    Serbia                        0.0                   0.0
           Serbia                        0.0                   0.0
           Serbia                        0.0                   0.0
           Serbia                        0.0                   0.0
           Serbia                        0.0                   0.0

                                              \

                     Solvangs Park, Glostrup
Match Code Country
211028     Australia                     0.0
           Australia                     0.0
           Australia                     0.0
           Australia                     0.0
           Australia                     0.0
...                                      ...
1381457    Serbia                        0.0
           Serbia                        0.0
           Serbia                        0.0
           Serbia                        0.0
           Serbia                        0.0



                     Sportpark Het Schootsveld, Deventer
Match Code Country
211028     Australia                                 0.0
           Australia                                 0.0
           Australia                                 0.0
           Australia                                 0.0
           Australia                                 0.0
...                                                  ...
1381457    Serbia                                    0.0
           Serbia                                    0.0
           Serbia                                    0.0
           Serbia                                    0.0
           Serbia                                    0.0

[285670 rows x 449 columns]

In [10]:
final_data_with_output = final_data.merge(output_scores, left_index = True, right_index = True, how = 'left')

final_data_with_output

                               Player Status                                 \
                                Batting Team
                                          P1   P2    P3   P4   P5   P6   P7
Match Code Country   Over Ball
211028     Australia 0    0             10.0  5.0   1.0  1.0  1.0  1.0  1.0
                          1             10.0  5.0   1.0  1.0  1.0  1.0  1.0
                          2             10.0  5.0   1.0  1.0  1.0  1.0  1.0
                          3             10.0  5.0   1.0  1.0  1.0  1.0  1.0
                          4             10.0  5.0   1.0  1.0  1.0  1.0  1.0
...                                      ...  ...   ...  ...  ...  ...  ...
1381457    Serbia    7    4             10.0  0.0   5.0  1.0  1.0  1.0  1.0
                          5             10.0  0.0   5.0  1.0  1.0  1.0  1.0
                     8    0              5.0  0.0  10.0  1.0  1.0  1.0  1.0
                          1             10.0  0.0   5.0  1.0  1.0  1.0  1.0
                          2              5.0  0.0  10.0  1.0  1.0  1.0  1.0

                                               ...  \
                                               ...
                                 P8   P9  P10  ...
Match Code Country   Over Ball                 ...
211028     Australia 0    0     1.0  1.0  1.0  ...
                          1     1.0  1.0  1.0  ...
                          2     1.0  1.0  1.0  ...
                          3     1.0  1.0  1.0  ...
                          4     1.0  1.0  1.0  ...
...                             ...  ...  ...  ...
1381457    Serbia    7    4     1.0  1.0  1.0  ...
                          5     1.0  1.0  1.0  ...
                     8    0     1.0  1.0  1.0  ...
                          1     1.0  1.0  1.0  ...
                          2     1.0  1.0  1.0  ...

                                                             Ground Data  \
                                                                       -
                               Zahur Ahmed Chowdhury Stadium, Chattogram
Match Code Country   Over Ball
211028     Australia 0    0                                          0.0
                          1                                          0.0
                          2                                          0.0
                          3                                          0.0
                          4                                          0.0
...                                                                  ...
1381457    Serbia    7    4                                          0.0
                          5                                          0.0
                     8    0                                          0.0
                          1                                          0.0
                          2                                          0.0

                                                             \

                               St Albans Club, Buenos Aires
Match Code Country   Over Ball
211028     Australia 0    0                             0.0
                          1                             0.0
                          2                             0.0
                          3                             0.0
                          4                             0.0
...                                                     ...
1381457    Serbia    7    4                             0.0
                          5                             0.0
                     8    0                             0.0
                          1                             0.0
                          2                             0.0

                                                                            \

                               Belgrano Athletic Club Ground, Buenos Aires
Match Code Country   Over Ball
211028     Australia 0    0                                            0.0
                          1                                            0.0
                          2                                            0.0
                          3                                            0.0
                          4                                            0.0
...                                                                    ...
1381457    Serbia    7    4                                            0.0
                          5                                            0.0
                     8    0                                            0.0
                          1                                            0.0
                          2                                            0.0

                                                                     \

                               Hurlingham Club Ground, Buenos Aires
Match Code Country   Over Ball
211028     Australia 0    0                                     0.0
                          1                                     0.0
                          2                                     0.0
                          3                                     0.0
                          4                                     0.0
...                                                             ...
1381457    Serbia    7    4                                     0.0
                          5                                     0.0
                     8    0                                     0.0
                          1                                     0.0
                          2                                     0.0

                                                                         \

                               Mission Road Ground, Mong Kok, Hong Kong
Match Code Country   Over Ball
211028     Australia 0    0                                         0.0
                          1                                         0.0
                          2                                         0.0
                          3                                         0.0
                          4                                         0.0
...                                                                 ...
1381457    Serbia    7    4                                         0.0
                          5                                         0.0
                     8    0                                         0.0
                          1                                         0.0
                          2                                         0.0

                                                                              \

                               Santarem Cricket Ground Europa Sports Complex
Match Code Country   Over Ball
211028     Australia 0    0                        0.0                   0.0
                          1                        0.0                   0.0
                          2                        0.0                   0.0
                          3                        0.0                   0.0
                          4                        0.0                   0.0
...                                                ...                   ...
1381457    Serbia    7    4                        0.0                   0.0
                          5                        0.0                   0.0
                     8    0                        0.0                   0.0
                          1                        0.0                   0.0
                          2                        0.0                   0.0

                                                        \

                               Solvangs Park, Glostrup
Match Code Country   Over Ball
211028     Australia 0    0                        0.0
                          1                        0.0
                          2                        0.0
                          3                        0.0
                          4                        0.0
...                                                ...
1381457    Serbia    7    4                        0.0
                          5                        0.0
                     8    0                        0.0
                          1                        0.0
                          2                        0.0

                                                                    \

                               Sportpark Het Schootsveld, Deventer
Match Code Country   Over Ball
211028     Australia 0    0                                    0.0
                          1                                    0.0
                          2                                    0.0
                          3                                    0.0
                          4                                    0.0
...                                                            ...
1381457    Serbia    7    4                                    0.0
                          5                                    0.0
                     8    0                                    0.0
                          1                                    0.0
                          2                                    0.0

                               Final Output
                               Output Score
                                      Score
Match Code Country   Over Ball
211028     Australia 0    0              79
                          1              79
                          2              79
                          3              79
                          4              79
...                                     ...
1381457    Serbia    7    4              77
                          5              77
                     8    0              77
                          1              77
                          2              77

[285670 rows x 448 columns]

## Dividing the data

#### In order to divide the data, I will be working with its index and select random matches from it :)}

In [11]:
final_data_with_output.index.levshape
df = final_data_with_output
df.index.levshape

(1231, 91, 20, 12)

This Shows there are a total of 1231 Matches. It will hence be a good idea to divide it into the following Data Set:

| Training Set | Dev Set | Test Set |
| --- | --- | --- |
| 1100 | 100 | 31 |

In [12]:
match_codes = df.index.get_level_values(0).unique().to_list()
random.shuffle(match_codes)
match_codes

[1310170,
 387564,
 1273148,
 533279,
 1277975,
 521217,
 430884,
 1268192,
 1320980,
 1317486,
 1321277,
 1343740,
 1223954,
 1184258,
 1263474,
 412677,
 1074966,
 1273134,
 1298167,
 350476,
 1188623,
 540174,
 1133817,
 1310172,
 356004,
 1349131,
 1199515,
 287867,
 1286670,
 1287775,
 1142506,
 1359787,
 1233961,
 635660,
 1198236,
 1283027,
 1321475,
 1187668,
 1282278,
 298795,
 1273143,
 1320969,
 802327,
 1349385,
 533273,
 514023,
 1349134,
 1267307,
 1349128,
 1307478,
 915785,
 884349,
 1197525,
 1120291,
 1343793,
 1279379,
 1310177,
 954735,
 1199549,
 251488,
 1348325,
 1122286,
 1197524,
 817205,
 1199506,
 520595,
 1275276,
 592268,
 1130746,
 1001353,
 722337,
 1273273,
 356013,
 951323,
 1157375,
 354456,
 647247,
 1286672,
 249227,
 1197400,
 1278680,
 1075508,
 1198245,
 1298161,
 1273729,
 951305,
 1263710,
 351694,
 1115807,
 1197403,
 1273726,
 963697,
 361531,
 1343750,
 1142503,
 1133819,
 1305503,
 1270838,
 412701,
 1072319,
 1303314,
 1199539,
 963699,
 534233,
 1322337,
 1243388,
 287869,
 1298158,
 1323550,
 1157372,
 1276913,
 702143,
 1185193,
 1273714,
 736063,
 534235,
 1187678,
 1380587,
 1320987,
 1283044,
 667731,
 1153696,
 412703,
 1310171,
 1235829,
 1263708,
 951359,
 1278688,
 439505,
 1270835,
 1273746,
 1144161,
 1298168,
 1283039,
 1322339,
 1202010,
 1271447,
 800481,
 1349382,
 1321271,
 1273144,
 1359793,
 1273749,
 1263713,
 1321274,
 1289045,
 1273138,
 1119542,
 1072318,
 1185313,
 306991,
 682919,
 951347,
 1257951,
 1287773,
 1321259,
 1263158,
 1283050,
 903589,
 1034825,
 356002,
 953103,
 403386,
 1142915,
 1273732,
 546442,
 1317910,
 1146725,
 1298156,
 1379587,
 660149,
 1321270,
 566938,
 1359786,
 1186491,
 1321467,
 630951,
 1172509,
 682915,
 1233980,
 412691,
 1282749,
 951345,
 1298151,
 1379579,
 1355722,
 593987,
 682941,
 1278671,
 474466,
 1243391,
 1298141,
 951329,
 1243389,
 1278685,
 1157377,
 1349136,
 1370783,
 1321260,
 1298147,
 1197402,
 953105,
 1333932,
 1286686,
 523735,
 1031435,
 1298154,
 1321273,
 1144989,
 1262760,
 540173,
 1252066,
 951369,
 1140384,
 895819,
 1283047,
 1215139,
 951313,
 1197523,
 1282738,
 1130747,
 875491,
 1197399,
 533293,
 412690,
 1272095,
 1197509,
 1098211,
 1074964,
 1133822,
 1339604,
 1273743,
 1310167,
 1280063,
 1190768,
 565820,
 1185188,
 1322001,
 1343774,
 403385,
 1142914,
 1322010,
 931396,
 1333925,
 1276906,
 1272097,
 1188622,
 602477,
 1198235,
 1142919,
 1284488,
 1344783,
 1367727,
 1349132,
 1317905,
 1271445,
 1083449,
 1283092,
 1275269,
 1050221,
 1257185,
 913663,
 356011,
 1192875,
 287872,
 1257950,
 1187006,
 1237123,
 1142918,
 1233955,
 951367,
 1202009,
 1298169,
 1310181,
 1343757,
 1273725,
 1256721,
 412682,
 1283023,
 1348651,
 1321293,
 1370782,
 1272373,
 1280059,
 573027,
 516204,
 1199508,
 1243019,
 1275042,
 1072317,
 520596,
 1185318,
 355995,
 848839,
 1233960,
 1333920,
 533297,
 406197,
 1233959,
 1286685,
 1298145,
 1188621,
 1215162,
 1019981,
 1031431,
 1361770,
 1343785,
 1271449,
 682961,
 1201680,
 1343773,
 1077948,
 1320978,
 1284497,
 1317906,
 1190774,
 1327280,
 1321309,
 1199520,
 889463,
 1263154,
 1282745,
 1199546,
 567355,
 1273724,
 682939,
 1001349,
 238195,
 1268188,
 1298162,
 1215136,
 525817,
 287871,
 875513,
 1321306,
 1305499,
 1343772,
 527013,
 446960,
 1273734,
 1142501,
 520598,
 1367731,
 1349139,
 1321308,
 1321292,
 1322012,
 1215138,
 1320974,
 1190775,
 1343770,
 533281,
 1187681,
 1263475,
 1199516,
 1187020,
 1233974,
 1158072,
 1268191,
 1199509,
 1327504,
 1185184,
 287866,
 1273752,
 1343761,
 1278687,
 1299579,
 1217747,
 1323551,
 1283025,
 1273146,
 1291188,
 355998,
 730285,
 516205,
 211028,
 1251955,
 1168522,
 1119543,
 1320976,
 875549,
 1327230,
 1263157,
 251487,
 412696,
 1142917,
 995469,
 1333924,
 1119544,
 1379578,
 1328853,
 1140071,
 1303315,
 1310185,
 1257945,
 1317138,
 255954,
 1202243,
 1186488,
 875553,
 1127301,
 1303307,
 1074957,
 1317137,
 1344790,
 1348323,
 569238,
 1153317,
 1322003,
 1144150,
 1321298,
 1031433,
 1355721,
 1007655,
 1263156,
 690351,
 966765,
 1273141,
 995467,
 1243390,
 1263471,
 936153,
 1214671,
 1283040,
 1283021,
 1321281,
 1321479,
 1298149,
 1299582,
 1283038,
 1019979,
 1273271,
 1298173,
 1133820,
 1361776,
 1320985,
 1233975,
 1188379,
 1197407,
 1283046,
 1303308,
 1273147,
 1074970,
 1263165,
 1273756,
 1321471,
 636536,
 1235832,
 1272094,
 1213874,
 682909,
 667887,
 287856,
 1273731,
 1298146,
 356010,
 1282276,
 875521,
 1320979,
 1202244,
 1298157,
 914217,
 1327233,
 1381457,
 1217740,
 1197521,
 300435,
 1199528,
 1072316,
 1192877,
 1283091,
 463141,
 406207,
 1257183,
 966757,
 1273755,
 1283032,
 560922,
 682945,
 885969,
 1327277,
 1339606,
 291356,
 1146723,
 1359799,
 1286673,
 1343768,
 1185315,
 1217744,
 1157761,
 350475,
 690353,
 1215140,
 1120093,
 386494,
 1133818,
 567353,
 1256722,
 1361774,
 1249208,
 1273720,
 1184263,
 875501,
 1085496,
 1203676,
 1251954,
 1144162,
 1310940,
 319142,
 1142913,
 1307295,
 1144149,
 1317903,
 440945,
 296903,
 1298135,
 1310176,
 1192223,
 1299573,
 1318361,
 1187666,
 1257948,
 1333926,
 1280062,
 682955,
 1273136,
 1359794,
 514024,
 1273737,
 1200427,
 1263152,
 1305498,
 352674,
 1291187,
 226374,
 1115798,
 355993,
 543885,
 573019,
 1257947,
 412678,
 1333927,
 648681,
 1332509,
 682923,
 1343778,
 743975,
 1187005,
 533289,
 1322276,
 1133821,
 1183524,
 406198,
 1298143,
 1272096,
 1283048,
 1142505,
 951331,
 1185316,
 1252067,
 1317907,
 951357,
 895817,
 1310168,
 1185182,
 1321305,
 1310901,
 1083450,
 1321474,
 636166,
 1072321,
 1122731,
 1127300,
 682929,
 1270836,
 682931,
 463149,
 1142502,
 1215137,
 1176796,
 1303316,
 883345,
 356003,
 1199505,
 571148,
 1317139,
 1298165,
 1251576,
 456992,
 635658,
 1190772,
 636538,
 1197401,
 1327272,
 1273713,
 1328852,
 682957,
 682907,
 1322336,
 287876,
 1280060,
 1359789,
 936155,
 1321303,
 1200428,
 913633,
 754717,
 1379583,
 1272374,
 1370787,
 1185317,
 1332503,
 546410,
 1198237,
 1355720,
 1199533,
 1327228,
 966745,
 1321307,
 1157760,
 754721,
 564786,
 1343794,
 1322006,
 1119501,
 1348649,
 1140069,
 1327270,
 1298138,
 1275045,
 1237122,
 1322364,
 356001,
 1283045,
 287863,
 1336956,
 1321466,
 1192224,
 1336951,
 446956,
 1333931,
 1115809,
 1273747,
 356000,
 1267306,
 1142589,
 412684,
 306987,
 1117821,
 1187014,
 1157376,
 1284490,
 287854,
 1199534,
 1381452,
 546470,
 1201683,
 287861,
 1273745,
 1344793,
 565810,
 355991,
 1278690,
 1243020,
 1310939,
 1332505,
 534208,
 1282740,
 1339206,
 1140070,
 661697,
 1085495,
 1317904,
 1192876,
 1309701,
 1233979,
 1263155,
 533288,
 1310186,
 446961,
 1273754,
 1249207,
 1229820,
 1198491,
 1257946,
 1256720,
 1317482,
 730283,
 258463,
 682963,
 1199500,
 951363,
 1215161,
 1270834,
 1273715,
 287865,
 1278679,
 931398,
 1310902,
 1119545,
 1317136,
 1343783,
 1183525,
 1283036,
 1283094,
 412700,
 1273742,
 885971,
 386535,
 1327274,
 1318360,
 1197140,
 1299596,
 1327273,
 1077947,
 1041615,
 636537,
 1199547,
 1298174,
 543884,
 1298177,
 958417,
 1273740,
 1117824,
 648683,
 1277976,
 1197508,
 356007,
 1202011,
 660223,
 1213875,
 1176792,
 1168521,
 958415,
 1273718,
 660185,
 1267682,
 452154,
 1273719,
 951339,
 1262758,
 936157,
 1362242,
 1187019,
 546473,
 439499,
 1286683,
 1322335,
 1115808,
 1333921,
 1348640,
 1172508,
 1343762,
 682947,
 1287774,
 966753,
 1199512,
 682953,
 1142916,
 1157373,
 1361772,
 1323297,
 533272,
 1273753,
 1307294,
 351695,
 722335,
 682899,
 1283034,
 1117822,
 1217741,
 894293,
 1282272,
 1251575,
 951325,
 1152840,
 571150,
 1298142,
 439510,
 387563,
 1283043,
 1322334,
 1343756,
 1168248,
 1122729,
 1310175,
 361530,
 1273272,
 1187677,
 1109610,
 1317151,
 1197510,
 1267308,
 1321262,
 287857,
 1271450,
 1310169,
 1072322,
 1268190,
 1381453,
 1381456,
 1263151,
 533287,
 1197527,
 1190769,
 1282742,
 875471,
 1202007,
 1322338,
 1267680,
 1321304,
 1361775,
 1271448,
 1273750,
 1298150,
 1200426,
 463142,
 1343791,
 951361,
 1197397,
 520599,
 1327508,
 1298164,
 258464,
 1327232,
 1122730,
 1235830,
 1283033,
 1273748,
 1321269,
 1119502,
 1233973,
 1273723,
 1299567,
 1270837,
 635659,
 1298139,
 1213059,
 1321275,
 1332507,
 1321483,
 1379584,
 1303313,
 1343795,
 287860,
 884351,
 1200425,
 452153,
 1367730,
 1361773,
 1283029,
 1184261,
 1283093,
 1153698,
 1187667,
 1184900,
 1273733,
 1153843,
 1317908,
 1176794,
 1332496,
 1351402,
 1305502,
 1333929,
 954737,
 1321469,
 1185314,
 1284496,
 682911,
 1252068,
 1019983,
 1172506,
 668969,
 1153697,
 1282279,
 1321301,
 1298171,
 951337,
 1344784,
 456991,
 1333922,
 1115800,
 1203678,
 661695,
 1327234,
 1339616,
 1050219,
 1298179,
 1199537,
 1187665,
 1343788,
 1217743,
 1199527,
 1321294,
 1271446,
 1336952,
 1275275,
 1333923,
 1305504,
 412692,
 1243021,
 1275039,
 531982,
 1354801,
 1310182,
 1007659,
 1328474,
 1327506,
 1327503,
 1343776,
 958421,
 682917,
 1271630,
 1144163,
 573020,
 1157759,
 1233465,
 567354,
 1187013,
 1198246,
 1323296,
 1273739,
 1275274,
 1307477,
 1318358,
 1327507,
 1367722,
 287864,
 1343780,
 875507,
 1267681,
 1317487,
 1277974,
 682901,
 1144990,
 1317909,
 1239542,
 366708,
 1122287,
 1343744,
 566926,
 1351400,
 474476,
 412695,
 958419,
 1328470,
 412685,
 1233971,
 533285,
 1310938,
 1310941,
 1197404,
 1327276,
 1233954,
 1321267,
 1321287,
 1305500,
 1199517,
 817203,
 1278686,
 1343741,
 623572,
 298804,
 1239541,
 1370790,
 1251577,
 1339615,
 1299571,
 1140993,
 1144992,
 1120293,
 566937,
 1075507,
 1158071,
 1197406,
 1305501,
 351696,
 1214670,
 1286671,
 1243392,
 1299576,
 533298,
 1310184,
 883343,
 682965,
 1332510,
 1004729,
 1309703,
 1187018,
 1198489,
 297800,
 1298175,
 660113,
 225271,
 1233464,
 1122285,
 1278672,
 1199504,
 1349129,
 1283035,
 ...]

In [13]:
test_set_codes = match_codes[:31]
dev_set_codes = match_codes[31:131]
training_set_codes = match_codes[131:]

print(len(test_set_codes), len(dev_set_codes), len(training_set_codes))

31 100 1100

In [14]:
test_list = []
dev_list = []
training_list = []

for code in test_set_codes:
    test_list.append(df.loc[code])

for code in dev_set_codes:
    dev_list.append(df.loc[code])
    
for code in training_set_codes:
    training_list.append(df.loc[code])

In [15]:
test_data = pd.concat(test_list, keys = test_set_codes)
dev_data = pd.concat(dev_list, keys = dev_set_codes)
training_data = pd.concat(training_list, keys = training_set_codes)

In [16]:
test_data

                            Player Status                                   \
                             Batting Team
                                       P1    P2   P3    P4    P5   P6   P7
        Country   Over Ball
1310170 Gibraltar 0    0             10.0   5.0  1.0   1.0   1.0  1.0  1.0
                       1              5.0  10.0  1.0   1.0   1.0  1.0  1.0
                       2              5.0  10.0  1.0   1.0   1.0  1.0  1.0
                       3              5.0  10.0  1.0   1.0   1.0  1.0  1.0
                       4              5.0  10.0  1.0   1.0   1.0  1.0  1.0
...                                   ...   ...  ...   ...   ...  ...  ...
1142506 Scotland  19   1              0.0   0.0  5.0  10.0   1.0  1.0  1.0
                       2              0.0   0.0  0.0   5.0   1.0  1.0  1.0
                       3              0.0   0.0  0.0  10.0   5.0  1.0  1.0
                       4              0.0   0.0  0.0  10.0   5.0  1.0  1.0
                       5              0.0   0.0  0.0   5.0  10.0  1.0  1.0

                                            ...  \
                                            ...
                              P8   P9  P10  ...
        Country   Over Ball                 ...
1310170 Gibraltar 0    0     1.0  1.0  1.0  ...
                       1     1.0  1.0  1.0  ...
                       2     1.0  1.0  1.0  ...
                       3     1.0  1.0  1.0  ...
                       4     1.0  1.0  1.0  ...
...                          ...  ...  ...  ...
1142506 Scotland  19   1     1.0  1.0  1.0  ...
                       2     1.0  1.0  1.0  ...
                       3     1.0  1.0  1.0  ...
                       4     1.0  1.0  1.0  ...
                       5     1.0  1.0  1.0  ...

                                                          Ground Data  \
                                                                    -
                            Zahur Ahmed Chowdhury Stadium, Chattogram
        Country   Over Ball
1310170 Gibraltar 0    0                                          0.0
                       1                                          0.0
                       2                                          0.0
                       3                                          0.0
                       4                                          0.0
...                                                               ...
1142506 Scotland  19   1                                          0.0
                       2                                          0.0
                       3                                          0.0
                       4                                          0.0
                       5                                          0.0

                                                          \

                            St Albans Club, Buenos Aires
        Country   Over Ball
1310170 Gibraltar 0    0                             0.0
                       1                             0.0
                       2                             0.0
                       3                             0.0
                       4                             0.0
...                                                  ...
1142506 Scotland  19   1                             0.0
                       2                             0.0
                       3                             0.0
                       4                             0.0
                       5                             0.0

                                                                         \

                            Belgrano Athletic Club Ground, Buenos Aires
        Country   Over Ball
1310170 Gibraltar 0    0                                            0.0
                       1                                            0.0
                       2                                            0.0
                       3                                            0.0
                       4                                            0.0
...                                                                 ...
1142506 Scotland  19   1                                            0.0
                       2                                            0.0
                       3                                            0.0
                       4                                            0.0
                       5                                            0.0

                                                                  \

                            Hurlingham Club Ground, Buenos Aires
        Country   Over Ball
1310170 Gibraltar 0    0                                     0.0
                       1                                     0.0
                       2                                     0.0
                       3                                     0.0
                       4                                     0.0
...                                                          ...
1142506 Scotland  19   1                                     0.0
                       2                                     0.0
                       3                                     0.0
                       4                                     0.0
                       5                                     0.0

                                                                      \

                            Mission Road Ground, Mong Kok, Hong Kong
        Country   Over Ball
1310170 Gibraltar 0    0                                         0.0
                       1                                         0.0
                       2                                         0.0
                       3                                         0.0
                       4                                         0.0
...                                                              ...
1142506 Scotland  19   1                                         0.0
                       2                                         0.0
                       3                                         0.0
                       4                                         0.0
                       5                                         0.0

                                                                           \

                            Santarem Cricket Ground Europa Sports Complex
        Country   Over Ball
1310170 Gibraltar 0    0                        0.0                   0.0
                       1                        0.0                   0.0
                       2                        0.0                   0.0
                       3                        0.0                   0.0
                       4                        0.0                   0.0
...                                             ...                   ...
1142506 Scotland  19   1                        0.0                   0.0
                       2                        0.0                   0.0
                       3                        0.0                   0.0
                       4                        0.0                   0.0
                       5                        0.0                   0.0

                                                     \

                            Solvangs Park, Glostrup
        Country   Over Ball
1310170 Gibraltar 0    0                        0.0
                       1                        0.0
                       2                        0.0
                       3                        0.0
                       4                        0.0
...                                             ...
1142506 Scotland  19   1                        0.0
                       2                        0.0
                       3                        0.0
                       4                        0.0
                       5                        0.0

                                                                Final Output
                                                                Output Score
                            Sportpark Het Schootsveld, Deventer        Score
        Country   Over Ball
1310170 Gibraltar 0    0                                    0.0          132
                       1                                    0.0          132
                       2                                    0.0          132
                       3                                    0.0          132
                       4                                    0.0          132
...                                                         ...          ...
1142506 Scotland  19   1                                    0.0          221
                       2                                    0.0          221
                       3                                    0.0          221
                       4                                    0.0          221
                       5                                    0.0          221

[7311 rows x 448 columns]

In [17]:
dev_data

                              Player Status                                 \
                               Batting Team
                                         P1   P2   P3   P4    P5   P6   P7
        Country     Over Ball
1359787 Argentina   0    0             10.0  5.0  1.0  1.0   1.0  1.0  1.0
                         1             10.0  5.0  1.0  1.0   1.0  1.0  1.0
                         2             10.0  5.0  1.0  1.0   1.0  1.0  1.0
                         3             10.0  5.0  1.0  1.0   1.0  1.0  1.0
                         4             10.0  5.0  1.0  1.0   1.0  1.0  1.0
...                                     ...  ...  ...  ...   ...  ...  ...
1273746 West Indies 19   1              0.0  0.0  0.0  0.0  10.0  0.0  0.0
                         2              0.0  0.0  0.0  0.0  10.0  0.0  0.0
                         3              0.0  0.0  0.0  0.0  10.0  0.0  0.0
                         4              0.0  0.0  0.0  0.0  10.0  0.0  0.0
                         5              0.0  0.0  0.0  0.0  10.0  0.0  0.0

                                              ...  \
                                              ...
                                P8   P9  P10  ...
        Country     Over Ball                 ...
1359787 Argentina   0    0     1.0  1.0  1.0  ...
                         1     1.0  1.0  1.0  ...
                         2     1.0  1.0  1.0  ...
                         3     1.0  1.0  1.0  ...
                         4     1.0  1.0  1.0  ...
...                            ...  ...  ...  ...
1273746 West Indies 19   1     0.0  0.0  5.0  ...
                         2     0.0  0.0  5.0  ...
                         3     0.0  0.0  5.0  ...
                         4     0.0  0.0  5.0  ...
                         5     0.0  0.0  5.0  ...

                                                            Ground Data  \
                                                                      -
                              Zahur Ahmed Chowdhury Stadium, Chattogram
        Country     Over Ball
1359787 Argentina   0    0                                          0.0
                         1                                          0.0
                         2                                          0.0
                         3                                          0.0
                         4                                          0.0
...                                                                 ...
1273746 West Indies 19   1                                          0.0
                         2                                          0.0
                         3                                          0.0
                         4                                          0.0
                         5                                          0.0

                                                            \

                              St Albans Club, Buenos Aires
        Country     Over Ball
1359787 Argentina   0    0                             0.0
                         1                             0.0
                         2                             0.0
                         3                             0.0
                         4                             0.0
...                                                    ...
1273746 West Indies 19   1                             0.0
                         2                             0.0
                         3                             0.0
                         4                             0.0
                         5                             0.0

                                                                           \

                              Belgrano Athletic Club Ground, Buenos Aires
        Country     Over Ball
1359787 Argentina   0    0                                            1.0
                         1                                            1.0
                         2                                            1.0
                         3                                            1.0
                         4                                            1.0
...                                                                   ...
1273746 West Indies 19   1                                            0.0
                         2                                            0.0
                         3                                            0.0
                         4                                            0.0
                         5                                            0.0

                                                                    \

                              Hurlingham Club Ground, Buenos Aires
        Country     Over Ball
1359787 Argentina   0    0                                     0.0
                         1                                     0.0
                         2                                     0.0
                         3                                     0.0
                         4                                     0.0
...                                                            ...
1273746 West Indies 19   1                                     0.0
                         2                                     0.0
                         3                                     0.0
                         4                                     0.0
                         5                                     0.0

                                                                        \

                              Mission Road Ground, Mong Kok, Hong Kong
        Country     Over Ball
1359787 Argentina   0    0                                         0.0
                         1                                         0.0
                         2                                         0.0
                         3                                         0.0
                         4                                         0.0
...                                                                ...
1273746 West Indies 19   1                                         0.0
                         2                                         0.0
                         3                                         0.0
                         4                                         0.0
                         5                                         0.0

                                                                             \

                              Santarem Cricket Ground Europa Sports Complex
        Country     Over Ball
1359787 Argentina   0    0                        0.0                   0.0
                         1                        0.0                   0.0
                         2                        0.0                   0.0
                         3                        0.0                   0.0
                         4                        0.0                   0.0
...                                               ...                   ...
1273746 West Indies 19   1                        0.0                   0.0
                         2                        0.0                   0.0
                         3                        0.0                   0.0
                         4                        0.0                   0.0
                         5                        0.0                   0.0

                                                       \

                              Solvangs Park, Glostrup
        Country     Over Ball
1359787 Argentina   0    0                        0.0
                         1                        0.0
                         2                        0.0
                         3                        0.0
                         4                        0.0
...                                               ...
1273746 West Indies 19   1                        0.0
                         2                        0.0
                         3                        0.0
                         4                        0.0
                         5                        0.0

                                                                  Final Output
                                                                  Output Score
                              Sportpark Het Schootsveld, Deventer        Score
        Country     Over Ball
1359787 Argentina   0    0                                    0.0          119
                         1                                    0.0          119
                         2                                    0.0          119
                         3                                    0.0          119
                         4                                    0.0          119
...                                                           ...          ...
1273746 West Indies 19   1                                    0.0          169
                         2                                    0.0          169
                         3                                    0.0          169
                         4                                    0.0          169
                         5                                    0.0          169

[23618 rows x 448 columns]

In [18]:
training_data

                               Player Status                              \
                                Batting Team
                                          P1    P2    P3   P4   P5    P6
        Country      Over Ball
1144161 Pakistan     0    0             10.0   5.0   1.0  1.0  1.0   1.0
                          1             10.0   5.0   1.0  1.0  1.0   1.0
                          2              0.0   5.0   1.0  1.0  1.0   1.0
                          3              0.0   5.0  10.0  1.0  1.0   1.0
                          4              0.0  10.0   5.0  1.0  1.0   1.0
...                                      ...   ...   ...  ...  ...   ...
356014  South Africa 19   1              0.0   0.0   0.0  0.0  0.0   5.0
                          2              0.0   0.0   0.0  0.0  0.0  10.0
                          3              0.0   0.0   0.0  0.0  0.0  10.0
                          4              0.0   0.0   0.0  0.0  0.0   5.0
                          5              0.0   0.0   0.0  0.0  0.0   5.0

                                                     ...  \
                                                     ...
                                  P7   P8   P9  P10  ...
        Country      Over Ball                       ...
1144161 Pakistan     0    0      1.0  1.0  1.0  1.0  ...
                          1      1.0  1.0  1.0  1.0  ...
                          2      1.0  1.0  1.0  1.0  ...
                          3      1.0  1.0  1.0  1.0  ...
                          4      1.0  1.0  1.0  1.0  ...
...                              ...  ...  ...  ...  ...
356014  South Africa 19   1      1.0  1.0  1.0  1.0  ...
                          2      5.0  1.0  1.0  1.0  ...
                          3      5.0  1.0  1.0  1.0  ...
                          4     10.0  1.0  1.0  1.0  ...
                          5     10.0  1.0  1.0  1.0  ...

                                                             Ground Data  \
                                                                       -
                               Zahur Ahmed Chowdhury Stadium, Chattogram
        Country      Over Ball
1144161 Pakistan     0    0                                          0.0
                          1                                          0.0
                          2                                          0.0
                          3                                          0.0
                          4                                          0.0
...                                                                  ...
356014  South Africa 19   1                                          0.0
                          2                                          0.0
                          3                                          0.0
                          4                                          0.0
                          5                                          0.0

                                                             \

                               St Albans Club, Buenos Aires
        Country      Over Ball
1144161 Pakistan     0    0                             0.0
                          1                             0.0
                          2                             0.0
                          3                             0.0
                          4                             0.0
...                                                     ...
356014  South Africa 19   1                             0.0
                          2                             0.0
                          3                             0.0
                          4                             0.0
                          5                             0.0

                                                                            \

                               Belgrano Athletic Club Ground, Buenos Aires
        Country      Over Ball
1144161 Pakistan     0    0                                            0.0
                          1                                            0.0
                          2                                            0.0
                          3                                            0.0
                          4                                            0.0
...                                                                    ...
356014  South Africa 19   1                                            0.0
                          2                                            0.0
                          3                                            0.0
                          4                                            0.0
                          5                                            0.0

                                                                     \

                               Hurlingham Club Ground, Buenos Aires
        Country      Over Ball
1144161 Pakistan     0    0                                     0.0
                          1                                     0.0
                          2                                     0.0
                          3                                     0.0
                          4                                     0.0
...                                                             ...
356014  South Africa 19   1                                     0.0
                          2                                     0.0
                          3                                     0.0
                          4                                     0.0
                          5                                     0.0

                                                                         \

                               Mission Road Ground, Mong Kok, Hong Kong
        Country      Over Ball
1144161 Pakistan     0    0                                         0.0
                          1                                         0.0
                          2                                         0.0
                          3                                         0.0
                          4                                         0.0
...                                                                 ...
356014  South Africa 19   1                                         0.0
                          2                                         0.0
                          3                                         0.0
                          4                                         0.0
                          5                                         0.0

                                                                              \

                               Santarem Cricket Ground Europa Sports Complex
        Country      Over Ball
1144161 Pakistan     0    0                        0.0                   0.0
                          1                        0.0                   0.0
                          2                        0.0                   0.0
                          3                        0.0                   0.0
                          4                        0.0                   0.0
...                                                ...                   ...
356014  South Africa 19   1                        0.0                   0.0
                          2                        0.0                   0.0
                          3                        0.0                   0.0
                          4                        0.0                   0.0
                          5                        0.0                   0.0

                                                        \

                               Solvangs Park, Glostrup
        Country      Over Ball
1144161 Pakistan     0    0                        0.0
                          1                        0.0
                          2                        0.0
                          3                        0.0
                          4                        0.0
...                                                ...
356014  South Africa 19   1                        0.0
                          2                        0.0
                          3                        0.0
                          4                        0.0
                          5                        0.0

                                                                    \

                               Sportpark Het Schootsveld, Deventer
        Country      Over Ball
1144161 Pakistan     0    0                                    0.0
                          1                                    0.0
                          2                                    0.0
                          3                                    0.0
                          4                                    0.0
...                                                            ...
356014  South Africa 19   1                                    0.0
                          2                                    0.0
                          3                                    0.0
                          4                                    0.0
                          5                                    0.0

                               Final Output
                               Output Score
                                      Score
        Country      Over Ball
1144161 Pakistan     0    0             186
                          1             186
                          2             186
                          3             186
                          4             186
...                                     ...
356014  South Africa 19   1             130
                          2             130
                          3             130
                          4             130
                          5             130

[254741 rows x 448 columns]

# Saving the data

### We will be saving the data in a sep folder

In [19]:
training_data.to_pickle(parent_dir/'Resources'/'FinalData'/'training_data.pkl')
test_data.to_pickle(parent_dir/'Resources'/'FinalData'/'test_data.pkl')
dev_data.to_pickle(parent_dir/'Resources'/'FinalData'/'dev_data.pkl')