# Player Ball By Ball data

### Making the final input.

Using all the dataframes we have already worked on, we are going to use them now to implement the final input.

**Inputs:**
- Player Bowling and Batting Stats
- Player lineup
- Ground names
- Innings Data
- Winner name

**Outputs:**
- Input dataframe that has ball by ball data of the following
    - Stats of current playing and those on bench.
    - Score uptil now
    - Total Wickets
    - Score this ball
    - Who is playing and who is on bench
    - The ground in one hot encoding
- An output dataframe

In [1]:
import numpy as np
import pandas as pd

**We are going to start by importing all the necessary files**

We are importing:
- The bowling stats
- The batting Stats
- The match data
- The innings data
- each match details

In [2]:
# Loading all the player stats data form disk
bowlingStats = pd.read_pickle("../Resources/playerData/bowling.pkl")
battingStats = pd.read_pickle("../Resources/playerData/batting.pkl")

# loading the match data from the disk
match_data = pd.read_pickle("../Resources/ground_player_lineup.pkl")
innings = pd.read_pickle("../Resources/match_data.pkl")
match_basics = pd.read_pickle("../Resources/file_index.pkl")
match_basics = match_basics[match_basics['Sex'] == 'male']

In [3]:
innings.index.levshape

(1773, 95, 20, 14)

In [4]:
innings.iloc[0].name[1]

'Austria'

### Stats of current playing and those on bench

**Some important points to note here:**
- We need data of both team, and select bowler and batsman accordingly.
- The proposed encoding would be as follows:

    | Position | Encoding |
    | -------- | -------- |
    | Player In | 1 |
    | Player Out | 0 |
    | Non Striker | 5 |
    | Striker | 10 |
    | Bowler | 10 |
    
- The Stats we will be gathering would be as follows:
      
    | Batsman | Bowler |
    | ------- | ------ |
    | Mat | Mat |
    | Inns | Inns |
    | NO | Overs |
    | Runs | Mdns |
    | HS | Runs |
    | Ave | Wkts |
    | BF | Ave |
    | SR | Econ |

**Some changes being done to data**

We will be changing the index of the data to make it simpler, besides that we will be dropping the nonneeded columns

In [5]:
bowlingStats = bowlingStats.set_index("Player")
battingStats = battingStats.set_index("Player")

In [6]:
battingStats.drop(['Country', 'Span', '100', '50', '0', '4s', '6s'], axis = 1, inplace = True)
bowlingStats.drop(['Country', 'Span', 'BBI', 'SR', '4', '5'], axis = 1, inplace = True)

In [7]:
bowlingStats

,Mat,Inns,Overs,Mdns,Runs,Wkts,Ave,Econ
Player,,,,,,,,
Shakib Al Hasan,117.000000,115.000000,422.300000,3.000000,2869.000000,140.000000,20.490000,6.790000
TG Southee,107.000000,105.000000,389.100000,3.000000,3179.000000,134.000000,23.720000,8.160000
Rashid Khan,82.000000,82.000000,312.200000,1.000000,1925.000000,130.000000,14.800000,6.160000
IS Sodhi,98.000000,95.000000,339.100000,0.000000,2701.000000,118.000000,22.880000,7.960000
SL Malinga,84.000000,83.000000,299.500000,1.000000,2225.000000,107.000000,20.790000,7.420000
...,...,...,...,...,...,...,...,...
B Zuiderent,6.000000,10.710079,32.795811,0.453754,241.972625,10.520946,28.038534,8.036798
Zulfiqar Ali Shah,1.000000,10.710079,32.795811,0.453754,241.972625,10.520946,28.038534,8.036798
Zulqarnain Haider,3.000000,10.710079,32.795811,0.453754,241.972625,10.520946,28.038534,8.036798
L Zulu,6.000000,10.710079,32.795811,0.453754,241.972625,10.520946,28.038534,8.036798
Average,13.805842,10.710079,32.795811,0.453754,241.972625,10.520946,28.038534,8.036798

**Now as you can see in the match_data, I have to iterate over each of these to get a pair of series, one for the batting and one for the bowling team's batting.**

In [8]:
match_data

                                           Details                \
                                       Ground Name   Winner Name
Match Code
1381452        Sportpark Het Schootsveld, Deventer       Germany
1381451        Sportpark Het Schootsveld, Deventer       Germany
1381456             National Sports Academy, Sofia        Turkey
1381457             National Sports Academy, Sofia        Serbia
1381458             National Sports Academy, Sofia      Bulgaria
...                                            ...           ...
225271                               The Rose Bowl     Sri Lanka
238195                       New Wanderers Stadium  South Africa
226374      Brisbane Cricket Ground, Woolloongabba     Australia
211028                               The Rose Bowl       England
211048                                   Eden Park     Australia

                                            Batting Team                 \
            Batting Team  Bowling Team                P1             P2
Match Code
1381452          Austria       Germany  M Simpson-Parker  Iqbal Hossain
1381451          Austria       Germany  M Simpson-Parker  Iqbal Hossain
1381456          Croatia        Turkey          WK Bitis    Naseem Khan
1381457          Croatia        Serbia          A Daxini    Naseem Khan
1381458           Turkey      Bulgaria    Ilyas Ataullah         I Elec
...                  ...           ...               ...            ...
225271         Sri Lanka       England     ST Jayasuriya    WU Tharanga
238195      South Africa     Australia          GC Smith      LE Bosman
226374         Australia  South Africa          JR Hopes      DR Martyn
211028           England     Australia    ME Trescothick       GO Jones
211048         Australia   New Zealand      AC Gilchrist      MJ Clarke

                                                                               \
                          P3            P4               P5                P6
Match Code
1381452      Razmal Shigiwal    A Randhawa     Shahil Momin       Mirza Ahsan
1381451      Razmal Shigiwal    A Randhawa      Mirza Ahsan      Shahil Momin
1381456            P Bosnjak  Sohail Ahmad         A Daxini           V Zanko
1381457            P Bosnjak       V Zanko     A Magdalenic          WK Bitis
1381458            A Turkmen        R Nath         M Ozturk  Muhammed Turkmen
...                      ...           ...              ...               ...
225271      DPMD Jayawardene    TM Dilshan    KC Sangakkara         RP Arnold
238195              HH Gibbs    SM Pollock  JJ van der Wath    AB de Villiers
226374            RT Ponting     A Symonds        MJ Clarke        MEK Hussey
211028            A Flintoff  KP Pietersen       MP Vaughan    PD Collingwood
211048             A Symonds    RT Ponting        DR Martyn         SM Katich

            ...    Bowling Team                                    \
            ...              P2               P3               P4
Match Code  ...
1381452     ...   J van Heerden    MJ Richardson  Faisal Mubashir
1381451     ...   J van Heerden  VB Chikkannaiah  Faisal Mubashir
1381456     ...  Ilyas Ataullah        A Turkmen           R Nath
1381457     ...        A Dizija        LA Dunbar      MV Pavlovic
1381458     ...       Zain Asif      Zaid Soulat         P Mishra
...         ...             ...              ...              ...
225271      ...      AJ Strauss     KP Pietersen   PD Collingwood
238195      ...       SM Katich       RT Ponting        DR Martyn
226374      ...    HH Dippenaar         HH Gibbs       MV Boucher
211028      ...       ML Hayden        A Symonds        MJ Clarke
211048      ...      SP Fleming      MS Sinclair        SB Styris

                                                                             \
                          P5           P6             P7                 P8
Match Code
1381452        Ghulam Ahmadi   Muslim Yar   SVE Bharathi       Abdul Bashir
1381451         Sahir Naqash  DA Blignaut  Ghulam Ahmadi       Sachin Mandy
1381456     Muhammed Turkmen     M Ozturk    Cihan Altun     Muhammet Bicer
1381457              S Tosic   V Zimonjic     N Zimonjic  NR Johns-Wickberg
1381458            Isa Zaroo    D Nikolov    Danyal Raja         A Ahmadhel
...                      ...          ...            ...                ...
225271         JWM Dalrymple     GO Jones     TT Bresnan           EC Joyce
238195             MJ Clarke    SR Watson        GB Hogg              B Lee
226374            SM Pollock    JH Kallis     JA Rudolph            AJ Hall
211028            MEK Hussey   RT Ponting      DR Martyn              B Lee
211048           CD McMillan    CL Cairns   HJH Marshall           AR Adams


                         P9            P10            P11
Match Code
1381452        Sachin Mandy   Sahir Naqash        H Singh
1381451        SVE Bharathi     Muslim Yar        D Klein
1381456     Muhammet Kursat     Murat Ipek   Murat Yilmaz
1381457        Rahman Ademi       AA Gajic      M Sarenac
1381458     Gagandeep Singh    DV Varghese  Huzaif Yousuf
...                     ...            ...            ...
225271          LE Plunkett     SI Mahmood    SJ Harmison
238195           NW Bracken       ML Lewis       SR Clark
226374              J Botha     GJP Kruger      M Zondeki
211028         JN Gillespie  MS Kasprowicz     GD McGrath
211048            JW Wilson       KD Mills      DR Tuffey

[1769 rows x 26 columns]

#### Let's work on the index for each of these

In [9]:
bowlingStats.columns

Index(['Mat', 'Inns', 'Overs', 'Mdns', 'Runs', 'Wkts', 'Ave', 'Econ'], dtype='object')

In [10]:
bowlingIndex = pd.MultiIndex.from_product([["P" + str(i) for i in range(1, 12)], bowlingStats.columns])
battingIndex = pd.MultiIndex.from_product([["P" + str(i) for i in range(1, 12)], battingStats.columns])
print(bowlingIndex)
print(battingIndex)

MultiIndex([( 'P1',   'Mat'),
            ( 'P1',  'Inns'),
            ( 'P1', 'Overs'),
            ( 'P1',  'Mdns'),
            ( 'P1',  'Runs'),
            ( 'P1',  'Wkts'),
            ( 'P1',   'Ave'),
            ( 'P1',  'Econ'),
            ( 'P2',   'Mat'),
            ( 'P2',  'Inns'),
            ( 'P2', 'Overs'),
            ( 'P2',  'Mdns'),
            ( 'P2',  'Runs'),
            ( 'P2',  'Wkts'),
            ( 'P2',   'Ave'),
            ( 'P2',  'Econ'),
            ( 'P3',   'Mat'),
            ( 'P3',  'Inns'),
            ( 'P3', 'Overs'),
            ( 'P3',  'Mdns'),
            ( 'P3',  'Runs'),
            ( 'P3',  'Wkts'),
            ( 'P3',   'Ave'),
            ( 'P3',  'Econ'),
            ( 'P4',   'Mat'),
            ( 'P4',  'Inns'),
            ( 'P4', 'Overs'),
            ( 'P4',  'Mdns'),
            ( 'P4',  'Runs'),
            ( 'P4',  'Wkts'),
            ( 'P4',   'Ave'),
            ( 'P4',  'Econ'),
            ( 'P5',   'Mat'),
            ( 'P5',  'Inns'),
            ( 'P5', 'Overs'),
            ( 'P5',  'Mdns'),
            ( 'P5',  'Runs'),
            ( 'P5',  'Wkts'),
            ( 'P5',   'Ave'),
            ( 'P5',  'Econ'),
            ( 'P6',   'Mat'),
            ( 'P6',  'Inns'),
            ( 'P6', 'Overs'),
            ( 'P6',  'Mdns'),
            ( 'P6',  'Runs'),
            ( 'P6',  'Wkts'),
            ( 'P6',   'Ave'),
            ( 'P6',  'Econ'),
            ( 'P7',   'Mat'),
            ( 'P7',  'Inns'),
            ( 'P7', 'Overs'),
            ( 'P7',  'Mdns'),
            ( 'P7',  'Runs'),
            ( 'P7',  'Wkts'),
            ( 'P7',   'Ave'),
            ( 'P7',  'Econ'),
            ( 'P8',   'Mat'),
            ( 'P8',  'Inns'),
            ( 'P8', 'Overs'),
            ( 'P8',  'Mdns'),
            ( 'P8',  'Runs'),
            ( 'P8',  'Wkts'),
            ( 'P8',   'Ave'),
            ( 'P8',  'Econ'),
            ( 'P9',   'Mat'),
            ( 'P9',  'Inns'),
            ( 'P9', 'Overs'),
            ( 'P9',  'Mdns'),
            ( 'P9',  'Runs'),
            ( 'P9',  'Wkts'),
            ( 'P9',   'Ave'),
            ( 'P9',  'Econ'),
            ('P10',   'Mat'),
            ('P10',  'Inns'),
            ('P10', 'Overs'),
            ('P10',  'Mdns'),
            ('P10',  'Runs'),
            ('P10',  'Wkts'),
            ('P10',   'Ave'),
            ('P10',  'Econ'),
            ('P11',   'Mat'),
            ('P11',  'Inns'),
            ('P11', 'Overs'),
            ('P11',  'Mdns'),
            ('P11',  'Runs'),
            ('P11',  'Wkts'),
            ('P11',   'Ave'),
            ('P11',  'Econ')],
           )
MultiIndex([( 'P1',  'Mat'),
            ( 'P1', 'Inns'),
            ( 'P1',   'NO'),
            ( 'P1', 'Runs'),
            ( 'P1',   'HS'),
            ( 'P1',  'Ave'),
            ( 'P1',   'BF'),
            ( 'P1',   'SR'),
            ( 'P2',  'Mat'),
            ( 'P2', 'Inns'),
            ( 'P2',   'NO'),
            ( 'P2', 'Runs'),
            ( 'P2',   'HS'),
            ( 'P2',  'Ave'),
            ( 'P2',   'BF'),
            ( 'P2',   'SR'),
            ( 'P3',  'Mat'),
            ( 'P3', 'Inns'),
            ( 'P3',   'NO'),
            ( 'P3', 'Runs'),
            ( 'P3',   'HS'),
            ( 'P3',  'Ave'),
            ( 'P3',   'BF'),
            ( 'P3',   'SR'),
            ( 'P4',  'Mat'),
            ( 'P4', 'Inns'),
            ( 'P4',   'NO'),
            ( 'P4', 'Runs'),
            ( 'P4',   'HS'),
            ( 'P4',  'Ave'),
            ( 'P4',   'BF'),
            ( 'P4',   'SR'),
            ( 'P5',  'Mat'),
            ( 'P5', 'Inns'),
            ( 'P5',   'NO'),
            ( 'P5', 'Runs'),
            ( 'P5',   'HS'),
            ( 'P5',  'Ave'),
            ( 'P5',   'BF'),
            ( 'P5',   'SR'),
            ( 'P6',  'Mat'),
            ( 'P6', 'Inns'),
            ( 'P6',   'NO'),
            ( 'P6', 'Runs'),
            ( 'P6',   'HS'),
            ( 'P6',  'Ave'),
            ( 'P6',   'BF'),
            ( 'P6',   'SR'),
            ( 'P7',  'Mat'),
            ( 'P7', 'Inns'),
            ( 'P7',   'NO'),
            ( 'P7', 'Runs'),
            ( 'P7',   'HS'),
            ( 'P7',  'Ave'),
            ( 'P7',   'BF'),
            ( 'P7',   'SR'),
            ( 'P8',  'Mat'),
            ( 'P8', 'Inns'),
            ( 'P8',   'NO'),
            ( 'P8', 'Runs'),
            ( 'P8',   'HS'),
            ( 'P8',  'Ave'),
            ( 'P8',   'BF'),
            ( 'P8',   'SR'),
            ( 'P9',  'Mat'),
            ( 'P9', 'Inns'),
            ( 'P9',   'NO'),
            ( 'P9', 'Runs'),
            ( 'P9',   'HS'),
            ( 'P9',  'Ave'),
            ( 'P9',   'BF'),
            ( 'P9',   'SR'),
            ('P10',  'Mat'),
            ('P10', 'Inns'),
            ('P10',   'NO'),
            ('P10', 'Runs'),
            ('P10',   'HS'),
            ('P10',  'Ave'),
            ('P10',   'BF'),
            ('P10',   'SR'),
            ('P11',  'Mat'),
            ('P11', 'Inns'),
            ('P11',   'NO'),
            ('P11', 'Runs'),
            ('P11',   'HS'),
            ('P11',  'Ave'),
            ('P11',   'BF'),
            ('P11',   'SR')],
           )

In [11]:
pd.DataFrame(columns = bowlingIndex)

Empty DataFrame
Columns: [(P1, Mat), (P1, Inns), (P1, Overs), (P1, Mdns), (P1, Runs), (P1, Wkts), (P1, Ave), (P1, Econ), (P2, Mat), (P2, Inns), (P2, Overs), (P2, Mdns), (P2, Runs), (P2, Wkts), (P2, Ave), (P2, Econ), (P3, Mat), (P3, Inns), (P3, Overs), (P3, Mdns), (P3, Runs), (P3, Wkts), (P3, Ave), (P3, Econ), (P4, Mat), (P4, Inns), (P4, Overs), (P4, Mdns), (P4, Runs), (P4, Wkts), (P4, Ave), (P4, Econ), (P5, Mat), (P5, Inns), (P5, Overs), (P5, Mdns), (P5, Runs), (P5, Wkts), (P5, Ave), (P5, Econ), (P6, Mat), (P6, Inns), (P6, Overs), (P6, Mdns), (P6, Runs), (P6, Wkts), (P6, Ave), (P6, Econ), (P7, Mat), (P7, Inns), (P7, Overs), (P7, Mdns), (P7, Runs), (P7, Wkts), (P7, Ave), (P7, Econ), (P8, Mat), (P8, Inns), (P8, Overs), (P8, Mdns), (P8, Runs), (P8, Wkts), (P8, Ave), (P8, Econ), (P9, Mat), (P9, Inns), (P9, Overs), (P9, Mdns), (P9, Runs), (P9, Wkts), (P9, Ave), (P9, Econ), (P10, Mat), (P10, Inns), (P10, Overs), (P10, Mdns), (P10, Runs), (P10, Wkts), (P10, Ave), (P10, Econ), (P11, Mat), (P11, Inns), (P11, Overs), (P11, Mdns), (P11, Runs), (P11, Wkts), (P11, Ave), (P11, Econ)]
Index: []

[0 rows x 88 columns]

#### Now it's time to make a function that returns the stats in a form of a series of each player

In [12]:
def return_bowling_stats(playerName):
    try:
        return bowlingStats.loc[playerName]
    except:
        return bowlingStats.loc['Average']
    
def return_batting_stats(playerName):
    try: 
        return battingStats.loc[playerName]
    except:
        return battingStats.loc['Average']

### Next, a function that takes in a match number and returns a dataframe made up of two series, batting team and bowling team turn

In [13]:
match_data.head()

                                        Details                           \
                                    Ground Name Winner Name Batting Team
Match Code
1381452     Sportpark Het Schootsveld, Deventer     Germany      Austria
1381451     Sportpark Het Schootsveld, Deventer     Germany      Austria
1381456          National Sports Academy, Sofia      Turkey      Croatia
1381457          National Sports Academy, Sofia      Serbia      Croatia
1381458          National Sports Academy, Sofia    Bulgaria       Turkey

                             Batting Team                                  \
           Bowling Team                P1             P2               P3
Match Code
1381452         Germany  M Simpson-Parker  Iqbal Hossain  Razmal Shigiwal
1381451         Germany  M Simpson-Parker  Iqbal Hossain  Razmal Shigiwal
1381456          Turkey          WK Bitis    Naseem Khan        P Bosnjak
1381457          Serbia          A Daxini    Naseem Khan        P Bosnjak
1381458        Bulgaria    Ilyas Ataullah         I Elec        A Turkmen

                                                          ...    Bowling Team  \
                      P4            P5                P6  ...              P2
Match Code                                                ...
1381452       A Randhawa  Shahil Momin       Mirza Ahsan  ...   J van Heerden
1381451       A Randhawa   Mirza Ahsan      Shahil Momin  ...   J van Heerden
1381456     Sohail Ahmad      A Daxini           V Zanko  ...  Ilyas Ataullah
1381457          V Zanko  A Magdalenic          WK Bitis  ...        A Dizija
1381458           R Nath      M Ozturk  Muhammed Turkmen  ...       Zain Asif

                                                                             \
                         P3               P4                P5           P6
Match Code
1381452       MJ Richardson  Faisal Mubashir     Ghulam Ahmadi   Muslim Yar
1381451     VB Chikkannaiah  Faisal Mubashir      Sahir Naqash  DA Blignaut
1381456           A Turkmen           R Nath  Muhammed Turkmen     M Ozturk
1381457           LA Dunbar      MV Pavlovic           S Tosic   V Zimonjic
1381458         Zaid Soulat         P Mishra         Isa Zaroo    D Nikolov

                                                                             \
                       P7                 P8               P9           P10
Match Code
1381452      SVE Bharathi       Abdul Bashir     Sachin Mandy  Sahir Naqash
1381451     Ghulam Ahmadi       Sachin Mandy     SVE Bharathi    Muslim Yar
1381456       Cihan Altun     Muhammet Bicer  Muhammet Kursat    Murat Ipek
1381457        N Zimonjic  NR Johns-Wickberg     Rahman Ademi      AA Gajic
1381458       Danyal Raja         A Ahmadhel  Gagandeep Singh   DV Varghese


                      P11
Match Code
1381452           H Singh
1381451           D Klein
1381456      Murat Yilmaz
1381457         M Sarenac
1381458     Huzaif Yousuf

[5 rows x 26 columns]

In [14]:
match_data.loc[1381452]['Batting Team']

P1     M Simpson-Parker
P2        Iqbal Hossain
P3      Razmal Shigiwal
P4           A Randhawa
P5         Shahil Momin
P6          Mirza Ahsan
P7           Aqib Iqbal
P8          Umair Tariq
P9        Jaweed Sadran
P10          MPS Cheema
P11          A Nathwani
Name: 1381452, dtype: object

**Function to return each innings Series i.e. (half of match)**

In [15]:
def returnMatchSeries(matchCode, firstTeam, secondTeam):
    batStats = match_data.loc[matchCode][firstTeam].apply(return_batting_stats).stack()
    bowlStats = match_data.loc[matchCode][secondTeam].apply(return_bowling_stats).stack()
    return pd.concat([batStats, bowlStats], keys = ['Batting Stats', 'Bowling Stats'])

**Function to return the whole match's dataframe**

In [16]:
def returnMatchDF(matchCode):
    try:
        battingTeam = match_data.loc[matchCode]['Details', 'Batting Team']
        bowlingTeam = match_data.loc[matchCode]['Details', 'Bowling Team']
        index = pd.MultiIndex.from_product([[matchCode], [battingTeam, bowlingTeam]])
        battingTeamInningsStats = returnMatchSeries(matchCode, 'Batting Team', 'Bowling Team')
        bowlingTeamInningsStats = returnMatchSeries(matchCode, 'Bowling Team', 'Batting Team')
        print("Doing this for match " + str(matchCode))
        return pd.DataFrame([battingTeamInningsStats, bowlingTeamInningsStats], index = index)
    except:
        print(str(matchCode) + " Failed")
        return

In [17]:
returnMatchDF(1381452)

Doing this for match 1381452

                Batting Stats                                                \
                           P1
                          Mat  Inns   NO   Runs    HS    Ave     BF      SR
1381452 Austria          33.0  26.0  2.0  428.0  65.0  17.83  440.0   97.27
        Germany          40.0  34.0  7.0  460.0  61.0  17.03  449.0  102.44

                             ... Bowling Stats                              \
                   P2        ...           P10             P11
                  Mat  Inns  ...           Ave      Econ   Mat  Inns Overs
1381452 Austria  25.0  21.0  ...     15.070000  7.400000  30.0   1.0   1.0
        Germany  10.0   9.0  ...     28.038534  8.036798  29.0  28.0  91.0



                Mdns   Runs  Wkts        Ave  Econ
1381452 Austria  0.0   16.0   0.0  28.038534  16.0
        Germany  0.0  628.0  34.0  18.470000   6.9

[2 rows x 176 columns]

### Time to combine all the previous functions to get stats of every match

In [18]:
match_basics['Code']

8       1381452
9       1381451
10      1381456
11      1381457
12      1381458
         ...
2696     237242
2697     226374
2698     222678
2699     211028
2700     211048
Name: Code, Length: 1836, dtype: int64

In [19]:
allData = match_basics['Code'].apply(returnMatchDF)

Doing this for match 1381452
Doing this for match 1381451
Doing this for match 1381456
Doing this for match 1381457
1381458 Failed
Doing this for match 1381453
1381454 Failed
1381455 Failed
1379592 Failed
1379585 Failed
Doing this for match 1379587
Doing this for match 1379579
1379581 Failed
Doing this for match 1379575
1379576 Failed
Doing this for match 1379584
1379590 Failed
1379582 Failed
Doing this for match 1379583
Doing this for match 1379586
1379589 Failed
Doing this for match 1379578
1379580 Failed
1380584 Failed
1380586 Failed
Doing this for match 1380587
1379577 Failed
1380583 Failed
1370791 Failed
Doing this for match 1370790
Doing this for match 1370785
Doing this for match 1370787
Doing this for match 1370782
Doing this for match 1370783
Doing this for match 1367731
1367732 Failed
1367728 Failed
Doing this for match 1367730
1367733 Failed
Doing this for match 1367727
1367729 Failed
1367725 Failed
1367726 Failed
1339618 Failed
1339617 Failed
Doing this for match 1339616
Doing this for match 1339615
Doing this for match 1339614
1367723 Failed
1367724 Failed
Doing this for match 1367722
Doing this for match 1322364
Doing this for match 1322363
1322362 Failed
Doing this for match 1355722
Doing this for match 1355721
Doing this for match 1339606
Doing this for match 1355720
1362817 Failed
Doing this for match 1339605
1362816 Failed
Doing this for match 1339604
1362815 Failed
Doing this for match 1351402
Doing this for match 1351401
Doing this for match 1361776
Doing this for match 1362242
Doing this for match 1361774
Doing this for match 1361775
Doing this for match 1351400
Doing this for match 1361772
Doing this for match 1361773
Doing this for match 1361770
Doing this for match 1361771
1359800 Failed
Doing this for match 1359802
1359798 Failed
Doing this for match 1359799
1359788 Failed
Doing this for match 1359789
1354802 Failed
1354803 Failed
1359792 Failed
Doing this for match 1359793
1354800 Failed
Doing this for match 1354801
Doing this for match 1359794
Doing this for match 1359795
1354799 Failed
Doing this for match 1359787
Doing this for match 1359786
1357696 Failed
1357695 Failed
1357694 Failed
Doing this for match 1348651
Doing this for match 1348650
Doing this for match 1348649
Doing this for match 1348325
Doing this for match 1348324
Doing this for match 1348323
Doing this for match 1348642
Doing this for match 1348641
Doing this for match 1348640
Doing this for match 1349140
1349390 Failed
1349391 Failed
Doing this for match 1349138
Doing this for match 1349139
1349388 Failed
1349389 Failed
1349386 Failed
1349387 Failed
Doing this for match 1349136
Doing this for match 1349137
Doing this for match 1349134
1349384 Failed
Doing this for match 1349385
Doing this for match 1349132
Doing this for match 1349133
Doing this for match 1349382
1349383 Failed
Doing this for match 1349131
Doing this for match 1349380
Doing this for match 1349128
Doing this for match 1349129
1349379 Failed
Doing this for match 1349126
1349127 Failed
Doing this for match 1349124
Doing this for match 1343793
Doing this for match 1343794
Doing this for match 1343795
Doing this for match 1343788
1343790 Failed
Doing this for match 1343791
1343784 Failed
Doing this for match 1343785
Doing this for match 1343786
Doing this for match 1343780
1343781 Failed
Doing this for match 1343782
Doing this for match 1343783
Doing this for match 1343776
1343777 Failed
Doing this for match 1343778
Doing this for match 1343772
Doing this for match 1343773
Doing this for match 1343774
1343775 Failed
Doing this for match 1343768
Doing this for match 1343770
1343771 Failed
1343764 Failed
1343767 Failed
Doing this for match 1343760
Doing this for match 1343761
Doing this for match 1343762
Doing this for match 1343763
1322277 Failed
Doing this for match 1343756
Doing this for match 1343757
1343758 Failed
1343753 Failed
1344794 Failed
1344795 Failed
Doing this for match 1322276
Doing this for match 1343749
Doing this for match 1343750
1344792 Failed
Doing this for match 1344793
Doing this for match 1344790
1344791 Failed
Doing this for match 1343744
Doing this for match 1343745
1343746 Failed
1343747 Failed
Doing this for match 1343740
Doing this for match 1343741
1343742 Failed
1343743 Failed
1344788 Failed
1344789 Failed
1344786 Failed
1344787 Failed
Doing this for match 1344784
1344785 Failed
1344782 Failed
Doing this for match 1344783
Doing this for match 1298179
Doing this for match 1298178
Doing this for match 1298177
Doing this for match 1298174
Doing this for match 1298175
Doing this for match 1298176
1339209 Failed
1339210 Failed
Doing this for match 1298173
1339207 Failed
1339208 Failed
Doing this for match 1298171
1298172 Failed
Doing this for match 1339205
Doing this for match 1339206
Doing this for match 1298170
Doing this for match 1298168
Doing this for match 1298169
1298166 Failed
Doing this for match 1298167
Doing this for match 1298165
Doing this for match 1298162
1298163 Failed
Doing this for match 1298164
Doing this for match 1298161
Doing this for match 1298156
Doing this for match 1298157
Doing this for match 1298158
Doing this for match 1298154
Doing this for match 1298153
Doing this for match 1298151
1298152 Failed
Doing this for match 1298149
Doing this for match 1298150
Doing this for match 1298147
1298148 Failed
Doing this for match 1298145
Doing this for match 1298146
Doing this for match 1298143
1298144 Failed
Doing this for match 1298141
Doing this for match 1298142
Doing this for match 1298139
1298140 Failed
Doing this for match 1336955
Doing this for match 1336956
Doing this for match 1298137
Doing this for match 1298138
Doing this for match 1298135
1298136 Failed
Doing this for match 1336953
Doing this for match 1336951
Doing this for match 1336952
1317488 Failed
Doing this for match 1322340
Doing this for match 1322339
Doing this for match 1317487
Doing this for match 1322338
Doing this for match 1322337
Doing this for match 1333932
Doing this for match 1333931
Doing this for match 1317486
Doing this for match 1322336
Doing this for match 1322335
Doing this for match 1317483
Doing this for match 1322334
Doing this for match 1317482
Doing this for match 1327508
Doing this for match 1327234
Doing this for match 1327507
Doing this for match 1327233
Doing this for match 1327232
Doing this for match 1327506
Doing this for match 1336032
Doing this for match 1327231
Doing this for match 1327505
1336031 Failed
Doing this for match 1327230
Doing this for match 1327504
Doing this for match 1327229
Doing this for match 1332510
1332508 Failed
Doing this for match 1332509
Doing this for match 1327228
Doing this for match 1327503
1332501 Failed
Doing this for match 1332505
Doing this for match 1332504
1332506 Failed
Doing this for match 1332503
Doing this for match 1332507
1332497 Failed
1332498 Failed
Doing this for match 1332496
Doing this for match 1333928
Doing this for match 1333929
Doing this for match 1333926
Doing this for match 1333927
Doing this for match 1333924
Doing this for match 1333925
Doing this for match 1327281
Doing this for match 1333922
Doing this for match 1333923
Doing this for match 1333920
Doing this for match 1333921
Doing this for match 1327280
1327279 Failed
1327278 Failed
Doing this for match 1327277
Doing this for match 1327276
1327275 Failed
Doing this for match 1327274
Doing this for match 1327273
Doing this for match 1327272
1327271 Failed
1328478 Failed
1328477 Failed
Doing this for match 1327270
1328476 Failed
1327269 Failed
Doing this for match 1328474
Doing this for match 1328853
1328854 Failed
Doing this for match 1328852
1328851 Failed
1328850 Failed
1328849 Failed
1307163 Failed
1328473 Failed
1307162 Failed
Doing this for match 1317910
1328471 Failed
Doing this for match 1328470
1307161 Failed
Doing this for match 1317909
1307160 Failed
Doing this for match 1317908
1307159 Failed
Doing this for match 1317907
Doing this for match 1317906
Doing this for match 1303316
Doing this for match 1310902
Doing this for match 1310901
Doing this for match 1303315
Doing this for match 1317905
Doing this for match 1323297
Doing this for match 1317904
Doing this for match 1276915
Doing this for match 1321301
1321302 Failed
Doing this for match 1321303
Doing this for match 1321304
Doing this for match 1323296
Doing this for match 1321298
1321299 Failed
Doing this for match 1323295
Doing this for match 1307478
Doing this for match 1317903

Doing this for match 1276914
Doing this for match 1321293
Doing this for match 1321294
Doing this for match 1321295
1321296 Failed
Doing this for match 1276913
Doing this for match 1307477
1321289 Failed
1321290 Failed
1321291 Failed
Doing this for match 1321292
Doing this for match 1321286
Doing this for match 1321287
1321288 Failed
Doing this for match 1321281
1321282 Failed
1321283 Failed
1321284 Failed
Doing this for match 1303314
Doing this for match 1303313
Doing this for match 1321277
Doing this for match 1321278
1321279 Failed
1321280 Failed
Doing this for match 1303312
Doing this for match 1321273
Doing this for match 1321274
Doing this for match 1321275
1321276 Failed
1321481 Failed
1321482 Failed
Doing this for match 1321483
Doing this for match 1321484
Doing this for match 1321269
Doing this for match 1321270
Doing this for match 1321271
1321272 Failed
1321265 Failed
Doing this for match 1321266
Doing this for match 1321267
1321268 Failed
1321477 Failed
1321478 Failed
Doing this for match 1321479
Doing this for match 1321480
1321473 Failed
Doing this for match 1321474
Doing this for match 1321475
1321261 Failed
Doing this for match 1321262
1321263 Failed
1321264 Failed
1321258 Failed
Doing this for match 1321259
Doing this for match 1321260
Doing this for match 1321469
1321470 Failed
Doing this for match 1321471
1321472 Failed
1321465 Failed
Doing this for match 1321466
Doing this for match 1321467
1321468 Failed
Doing this for match 1322010
Doing this for match 1276906
Doing this for match 1321309
Doing this for match 1321310
Doing this for match 1276905
Doing this for match 1321307
Doing this for match 1321308
Doing this for match 1322009
Doing this for match 1323551
Doing this for match 1323552
Doing this for match 1321305
Doing this for match 1321306
1322007 Failed
Doing this for match 1323550
Doing this for match 1276904
Doing this for match 1317151
1322005 Failed
Doing this for match 1322006
Doing this for match 1322003
1322004 Failed
1320986 Failed
1320988 Failed
Doing this for match 1322001
1322002 Failed
Doing this for match 1317150
Doing this for match 1320985
Doing this for match 1320987
Doing this for match 1322012
1317149 Failed
1320982 Failed
1320984 Failed
Doing this for match 1321998
Doing this for match 1322011
1320977 Failed
Doing this for match 1320978
Doing this for match 1320979
Doing this for match 1320980
1321313 Failed
1320973 Failed
Doing this for match 1320974
1320975 Failed
Doing this for match 1320976
1321312 Failed
Doing this for match 1303308
Doing this for match 1320969
1321311 Failed
Doing this for match 1303307
Doing this for match 1317139
Doing this for match 1317137
Doing this for match 1317138
Doing this for match 1317136
1278691 Failed
Doing this for match 1278690
Doing this for match 1278689
1310948 Failed
Doing this for match 1278688
1310947 Failed
Doing this for match 1307295
1310946 Failed
Doing this for match 1318361
1318362 Failed
Doing this for match 1318359
Doing this for match 1318360
Doing this for match 1278687
1318357 Failed
Doing this for match 1318358
Doing this for match 1307294
Doing this for match 1307293
Doing this for match 1310942
Doing this for match 1310941
Doing this for match 1310940
1310188 Failed
Doing this for match 1310939
Doing this for match 1310938
Doing this for match 1310185
Doing this for match 1310186
1310187 Failed
Doing this for match 1310182
1310183 Failed
Doing this for match 1310184
Doing this for match 1310179
1310180 Failed
Doing this for match 1310181
Doing this for match 1310176
Doing this for match 1310177
1310178 Failed
1310173 Failed
Doing this for match 1310174
Doing this for match 1310175
Doing this for match 1310170
Doing this for match 1310171
Doing this for match 1310172
Doing this for match 1310169
Doing this for match 1310167
Doing this for match 1310168
1310165 Failed
1310166 Failed
1310162 Failed
1310163 Failed
1310164 Failed
1310161 Failed
Doing this for match 1309703
Doing this for match 1309702
Doing this for match 1309701
Doing this for match 1288316
Doing this for match 1305504
Doing this for match 1305503
Doing this for match 1305502
Doing this for match 1305501
Doing this for match 1305500
Doing this for match 1305499
Doing this for match 1305498
1299833 Failed
1299832 Failed
Doing this for match 1278686
Doing this for match 1278685
Doing this for match 1278684
Doing this for match 1299582
1299583 Failed
1299584 Failed
1299585 Failed
1299578 Failed
Doing this for match 1299579
1299580 Failed
1299581 Failed
1299574 Failed
1299575 Failed
Doing this for match 1299576
1299577 Failed
Doing this for match 1263475
Doing this for match 1278681
1299570 Failed
Doing this for match 1299571
1299572 Failed
Doing this for match 1299573
Doing this for match 1263474
Doing this for match 1278680
1299566 Failed
Doing this for match 1299567
1299568 Failed
Doing this for match 1299569
Doing this for match 1278679
Doing this for match 1263473
1299595 Failed
Doing this for match 1299596
1263472 Failed
1299592 Failed
1299594 Failed
1299638 Failed
Doing this for match 1263471
1299593 Failed
Doing this for match 1256724
Doing this for match 1256723
Doing this for match 1256722
Doing this for match 1256721
Doing this for match 1256720
Doing this for match 1291188
Doing this for match 1291187
Doing this for match 1287775
Doing this for match 1287774
Doing this for match 1287773
Doing this for match 1277976
Doing this for match 1278673
Doing this for match 1277975
1289050 Failed
1289051 Failed
1289052 Failed
Doing this for match 1289053
Doing this for match 1277974
Doing this for match 1278672
1289046 Failed
1289047 Failed
1289048 Failed
1289049 Failed
Doing this for match 1278671
Doing this for match 1289042
1289043 Failed
1289044 Failed
Doing this for match 1289045
Doing this for match 1273756
Doing this for match 1286686
1286682 Failed
Doing this for match 1286683
1286684 Failed
Doing this for match 1286685
Doing this for match 1273755
1286679 Failed
Doing this for match 1286681
Doing this for match 1273754
1286674 Failed
Doing this for match 1286675
1286677 Failed
Doing this for match 1273753
Doing this for match 1286670
Doing this for match 1286671
Doing this for match 1286672
Doing this for match 1286673
1273751 Failed
Doing this for match 1273752
Doing this for match 1283050
Doing this for match 1283051
Doing this for match 1286667
Doing this for match 1273749
Doing this for match 1273750
Doing this for match 1283048
Doing this for match 1283049
Doing this for match 1273747
Doing this for match 1273748
Doing this for match 1283046
Doing this for match 1283047
Doing this for match 1273745
Doing this for match 1273746
Doing this for match 1273743
1273744 Failed
Doing this for match 1283044
Doing this for match 1283045
Doing this for match 1273741
Doing this for match 1273742
Doing this for match 1283042
Doing this for match 1283043
Doing this for match 1273740
1273738 Failed
Doing this for match 1273739
Doing this for match 1273736
Doing this for match 1273737
Doing this for match 1273734
1273735 Failed
Doing this for match 1284497
Doing this for match 1273733
1284495 Failed
Doing this for match 1284496
Doing this for match 1273731
Doing this for match 1273732
1284493 Failed
Doing this for match 1273729
Doing this for match 1273730
Doing this for match 1283094
1273728 Failed
Doing this for match 1273726
Doing this for match 1273727
Doing this for match 1282278
Doing this for match 1282279
Doing this for match 1283093
Doing this for match 1284490
1284491 Failed
Doing this for match 1273724
Doing this for match 1273725
Doing this for match 1282276
Doing this for match 1283092
Doing this for match 1284488
1284489 Failed
Doing this for match 1273722
Doing this for match 1273723
Doing this for match 1282273
Doing this for match 1282275
Doing this for match 1283038
Doing this for match 1283039
Doing this for match 1283040
1283041 Failed
Doing this for match 1273720
1273721 Failed
Doing this for match 1282272
1282748 Failed
Doing this for match 1282749
1283037 Failed
Doing this for match 1283091
Doing this for match 1273718
Doing this for match 1273719
1282746 Failed
Doing this for match 1282747
Doing this for match 1283033
Doing this for match 1283034
Doing this for match 1283035
Doing this for match 1283036
Doing this for match 1273716
1273717 Failed

1282744 Failed
Doing this for match 1282745
Doing this for match 1283029
Doing this for match 1283030
Doing this for match 1283032
Doing this for match 1283089
Doing this for match 1273714
Doing this for match 1273715
1273712 Failed
Doing this for match 1273713
Doing this for match 1282742
1282743 Failed
Doing this for match 1283025
Doing this for match 1283026
Doing this for match 1283027
1283028 Failed
Doing this for match 1282740
1282741 Failed
Doing this for match 1283021
Doing this for match 1283022
Doing this for match 1283023
1283024 Failed
Doing this for match 1282738
1282739 Failed
Doing this for match 1280059
Doing this for match 1280062
Doing this for match 1280058
Doing this for match 1279385
1279386 Failed
Doing this for match 1280061
Doing this for match 1280063
1279383 Failed
Doing this for match 1280060
1279381 Failed
1279382 Failed
Doing this for match 1279379
1279380 Failed
1280057 Failed
Doing this for match 1273273
Doing this for match 1273272
1275051 Failed
Doing this for match 1275045
Doing this for match 1273271
1275047 Failed
Doing this for match 1271632
Doing this for match 1275042
1275043 Failed
Doing this for match 1271631
Doing this for match 1275039
1275040 Failed
1275053 Failed
1275054 Failed
Doing this for match 1271630
Doing this for match 1272097
1275044 Failed
1275052 Failed
Doing this for match 1272096
Doing this for match 1272095
Doing this for match 1275276
Doing this for match 1275277
Doing this for match 1272377
Doing this for match 1275274
Doing this for match 1275275
Doing this for match 1272094
1275268 Failed
Doing this for match 1275271
1275272 Failed
Doing this for match 1272376
Doing this for match 1275269
Doing this for match 1275270
Doing this for match 1272093
Doing this for match 1272375
Doing this for match 1272374
Doing this for match 1272373
1273139 Failed
Doing this for match 1273148
Doing this for match 1273149
1273137 Failed
Doing this for match 1273138
Doing this for match 1273145
Doing this for match 1273146
Doing this for match 1273147
Doing this for match 1273136
Doing this for match 1273143
Doing this for match 1273144
Doing this for match 1273141
Doing this for match 1273134
Doing this for match 1273133
Doing this for match 1270838
Doing this for match 1271450
Doing this for match 1271451
Doing this for match 1270837
Doing this for match 1271448
Doing this for match 1271449
Doing this for match 1270836
Doing this for match 1271447
Doing this for match 1271445
Doing this for match 1271446
Doing this for match 1270835
1263167 Failed
Doing this for match 1270834
1263166 Failed
Doing this for match 1263165
Doing this for match 1262760
Doing this for match 1262759
1263164 Failed
Doing this for match 1262758
Doing this for match 1267682
Doing this for match 1251955
Doing this for match 1267681
Doing this for match 1251954
Doing this for match 1267680
Doing this for match 1239542
Doing this for match 1251953
Doing this for match 1239541
Doing this for match 1239540
Doing this for match 1263160
Doing this for match 1263159
Doing this for match 1263158
Doing this for match 1263157
Doing this for match 1268191
Doing this for match 1268192
Doing this for match 1263156
Doing this for match 1268190
Doing this for match 1268188
Doing this for match 1268189
Doing this for match 1263155
Doing this for match 1263154
Doing this for match 1263153
Doing this for match 1263152
Doing this for match 1249208
Doing this for match 1263151
Doing this for match 1267310
1267311 Failed
Doing this for match 1267306
Doing this for match 1267307
Doing this for match 1267308
Doing this for match 1249207
Doing this for match 1267304
Doing this for match 1249206
Doing this for match 1263712
Doing this for match 1263713
Doing this for match 1263710
Doing this for match 1263711
Doing this for match 1263708
Doing this for match 1257185
Doing this for match 1257951
Doing this for match 1257184
Doing this for match 1257950
Doing this for match 1257183
1257949 Failed
Doing this for match 1257948
Doing this for match 1257947
Doing this for match 1257946
Doing this for match 1257945
Doing this for match 1251578
Doing this for match 1251577
Doing this for match 1251576
Doing this for match 1251575
1257405 Failed
1257406 Failed
1257404 Failed
Doing this for match 1233981
Doing this for match 1233980
Doing this for match 1233979
Doing this for match 1243392
1252060 Failed
1252059 Failed
Doing this for match 1243391
1252058 Failed
Doing this for match 1243390
Doing this for match 1243389
Doing this for match 1243388
Doing this for match 1233975
Doing this for match 1252068
Doing this for match 1233974
Doing this for match 1252067
Doing this for match 1233973
Doing this for match 1252066
Doing this for match 1233972
Doing this for match 1233971
Doing this for match 1243021
Doing this for match 1243020
Doing this for match 1243019
Doing this for match 1233961
Doing this for match 1233960
Doing this for match 1233959
Doing this for match 1223954
Doing this for match 1223953
1223952 Failed
Doing this for match 1237124
1233956 Failed
Doing this for match 1233955
Doing this for match 1237123
Doing this for match 1233954
Doing this for match 1237122
Doing this for match 1233466
Doing this for match 1233465
Doing this for match 1233464
Doing this for match 1235832
Doing this for match 1235830
Doing this for match 1235829
Doing this for match 1198237
Doing this for match 1198236
Doing this for match 1198235
Doing this for match 1198246
Doing this for match 1198245
Doing this for match 1229822
Doing this for match 1229823
Doing this for match 1229820
1198244 Failed
1229824 Failed
Doing this for match 1214671
1216418 Failed
Doing this for match 1214670
1207081 Failed
1207082 Failed
1216417 Failed
Doing this for match 1213875
1216416 Failed
Doing this for match 1217747
Doing this for match 1213874
Doing this for match 1217744
1217745 Failed
1217742 Failed
Doing this for match 1217743
Doing this for match 1217740
Doing this for match 1217741
1217738 Failed
1215165 Failed
Doing this for match 1185318
Doing this for match 1215140
Doing this for match 1215163
1215164 Failed
1215159 Failed
1215160 Failed
Doing this for match 1215161
Doing this for match 1215162
Doing this for match 1215139
Doing this for match 1185317
Doing this for match 1215138
Doing this for match 1185316
Doing this for match 1215137
Doing this for match 1215136
Doing this for match 1185315
Doing this for match 1185314
Doing this for match 1185313
Doing this for match 1187681
1187680 Failed
1187679 Failed
Doing this for match 1187678
Doing this for match 1213059
Doing this for match 1187677
Doing this for match 1213058
Doing this for match 1203678
1203677 Failed
Doing this for match 1203676
Doing this for match 1202244
Doing this for match 1202243
Doing this for match 1187020
1208613 Failed
Doing this for match 1187019
1208612 Failed
Doing this for match 1187018
1208609 Failed
1208606 Failed
1193496 Failed
1193495 Failed
1193494 Failed
Doing this for match 1187015
1187669 Failed
Doing this for match 1183529
Doing this for match 1187668
Doing this for match 1187014
Doing this for match 1183528
Doing this for match 1187667
1183527 Failed
Doing this for match 1187013
Doing this for match 1187666
Doing this for match 1199548
Doing this for match 1199549
Doing this for match 1183526
Doing this for match 1187665
Doing this for match 1199546
Doing this for match 1199547
Doing this for match 1199545
Doing this for match 1183525
1199543 Failed
Doing this for match 1199544
1199541 Failed
1199542 Failed
Doing this for match 1183524
Doing this for match 1199536
Doing this for match 1199537
1199538 Failed
Doing this for match 1199539
1199540 Failed
1201673 Failed
Doing this for match 1199533
Doing this for match 1199534
1199535 Failed
1201669 Failed
1201670 Failed
1201671 Failed
1199529 Failed
Doing this for match 1199530
Doing this for match 1199531
1199532 Failed
1201668 Failed
Doing this for match 1199525
1199526 Failed
Doing this for match 1199527
Doing this for match 1199528
Doing this for match 1199520
1199521 Failed
1199522 Failed
Doing this for match 1199523
Doing this for match 1199524
Doing this for match 1199517
1199518 Failed
1199519 Failed
Doing this for match 1199512
1199513 Failed
1199514 Failed
Doing this for match 1199515
Doing this for match 1199516
Doing this for match 1199508
Doing this for match 1199509

1199510 Failed
1199511 Failed
Doing this for match 1199503
Doing this for match 1199504
Doing this for match 1199505
Doing this for match 1199506
1199507 Failed
1199499 Failed
Doing this for match 1199500
Doing this for match 1199501
1199502 Failed
Doing this for match 1197528
1197529 Failed
Doing this for match 1197526
Doing this for match 1197527
Doing this for match 1198491
Doing this for match 1197524
Doing this for match 1197525
Doing this for match 1198490
1197522 Failed
Doing this for match 1197523
Doing this for match 1197521
Doing this for match 1198489
Doing this for match 1202011
1201685 Failed
Doing this for match 1202010
Doing this for match 1202009
Doing this for match 1201683
Doing this for match 1202008
1201682 Failed
Doing this for match 1202007
1201681 Failed
Doing this for match 1201680
Doing this for match 1187006
1197145 Failed
1197144 Failed
Doing this for match 1200428
Doing this for match 1187005
Doing this for match 1197143
Doing this for match 1200427
Doing this for match 1200426
Doing this for match 1200425
1197142 Failed
1197141 Failed
Doing this for match 1197140
Doing this for match 1192877
Doing this for match 1192876
Doing this for match 1192875
Doing this for match 1197406
Doing this for match 1197407
Doing this for match 1197404
Doing this for match 1197510
Doing this for match 1197402
Doing this for match 1197403
Doing this for match 1197509
Doing this for match 1197400
Doing this for match 1197401
Doing this for match 1197508
1197398 Failed
Doing this for match 1197399
Doing this for match 1197507
Doing this for match 1197396
Doing this for match 1197397
1191008 Failed
Doing this for match 1188623
1191006 Failed
Doing this for match 1188622
Doing this for match 1188621
1190776 Failed
Doing this for match 1190774
Doing this for match 1190775
Doing this for match 1190772
1190773 Failed
Doing this for match 1190771
Doing this for match 1190769
1190767 Failed
Doing this for match 1190768
Doing this for match 1168522
Doing this for match 1192224
Doing this for match 1192223
Doing this for match 1168521
1186493 Failed
1186492 Failed
Doing this for match 1186491
1186490 Failed
1188380 Failed
Doing this for match 1186488
Doing this for match 1188379
Doing this for match 1185188
Doing this for match 1185190
1189743 Failed
1189744 Failed
1185191 Failed
1185192 Failed
Doing this for match 1185193
1185187 Failed
Doing this for match 1185182
Doing this for match 1185184
1185185 Failed
Doing this for match 1185186
1185181 Failed
1178996 Failed
Doing this for match 1184266
Doing this for match 1184900
Doing this for match 1184901
Doing this for match 1184902
Doing this for match 1184261
Doing this for match 1184262
Doing this for match 1184263
Doing this for match 1184258
Doing this for match 1184260
Doing this for match 1152840
Doing this for match 1144174
Doing this for match 1176796
Doing this for match 1176797
Doing this for match 1176794
1176795 Failed
Doing this for match 1144173
Doing this for match 1176792
Doing this for match 1176793
1144172 Failed
1177485 Failed
1177484 Failed
Doing this for match 1158073
Doing this for match 1158072
Doing this for match 1158071
Doing this for match 1168248
1168114 Failed
Doing this for match 1168247
1168113 Failed
1168112 Failed
Doing this for match 1172509
1172510 Failed
1172507 Failed
Doing this for match 1172508
Doing this for match 1172505
Doing this for match 1172506
Doing this for match 1153698
Doing this for match 1153697
Doing this for match 1144163
Doing this for match 1153696
Doing this for match 1144162
1170459 Failed
Doing this for match 1144161
1170458 Failed
1170457 Failed
Doing this for match 1153843
Doing this for match 1153319
Doing this for match 1153318
Doing this for match 1153317
Doing this for match 1144992
1144991 Failed
Doing this for match 1144990
Doing this for match 1144989
Doing this for match 1157761
Doing this for match 1157760
Doing this for match 1157377
Doing this for match 1157759
Doing this for match 1157376
Doing this for match 1157375
Doing this for match 1157374
Doing this for match 1140384
Doing this for match 1157373
Doing this for match 1157372
1162727 Failed
Doing this for match 1144150
Doing this for match 1144149
1150144 Failed
1150143 Failed
Doing this for match 1142589
Doing this for match 1146725
Doing this for match 1146724
Doing this for match 1146723
1141835 Failed
Doing this for match 1119545
Doing this for match 1142919
Doing this for match 1119544
Doing this for match 1142918
Doing this for match 1142917
Doing this for match 1142916
Doing this for match 1119543
Doing this for match 1142915
Doing this for match 1142914
Doing this for match 1142913
Doing this for match 1140993
Doing this for match 1119542
Doing this for match 1140992
Doing this for match 1142506
Doing this for match 1142505
1142504 Failed
Doing this for match 1142503
Doing this for match 1127301
Doing this for match 1142502
Doing this for match 1127300
Doing this for match 1142501
1145984 Failed
1145983 Failed
1145982 Failed
1141232 Failed
Doing this for match 1140071
Doing this for match 1140070
Doing this for match 1140069
Doing this for match 1133823
Doing this for match 1133822
Doing this for match 1133821
Doing this for match 1133820
Doing this for match 1133819
Doing this for match 1133818
Doing this for match 1133817
Doing this for match 1122287
Doing this for match 1072322
Doing this for match 1122286
Doing this for match 1072321
Doing this for match 1122285
Doing this for match 1130747
Doing this for match 1072320
Doing this for match 1130746
Doing this for match 1072319
Doing this for match 1072318
Doing this for match 1072317
1134032 Failed
1134031 Failed
Doing this for match 1072316
Doing this for match 1115809
Doing this for match 1115808
Doing this for match 1115807
Doing this for match 1115800
1115799 Failed
Doing this for match 1115798
Doing this for match 1122731
Doing this for match 1122730
Doing this for match 1122729
Doing this for match 1120095
Doing this for match 1120094
Doing this for match 1120093
Doing this for match 1075508
Doing this for match 1120293
Doing this for match 1120292
Doing this for match 1075507
Doing this for match 1120291
Doing this for match 1119502
Doing this for match 1119501
Doing this for match 1031665
Doing this for match 1117824
Doing this for match 1117822
Doing this for match 1117821
Doing this for match 1109610
Doing this for match 1098211
Doing this for match 1031435
Doing this for match 1031433
Doing this for match 1031431
1089778 Failed
1089777 Failed
1089776 Failed
1089203 Failed
Doing this for match 1089243
1089202 Failed
Doing this for match 1083450
Doing this for match 1083449
Doing this for match 1085496
Doing this for match 1085495
Doing this for match 1077948
Doing this for match 1077947
1040489 Failed
1040487 Failed
1040485 Failed
Doing this for match 1001353
Doing this for match 1001351
Doing this for match 1001349
Doing this for match 1020029
Doing this for match 1034829
Doing this for match 1034827
Doing this for match 1034825
Doing this for match 936157
Doing this for match 936155
1074969 Failed
Doing this for match 1074970
1074971 Failed
Doing this for match 936153
1074968 Failed
1074965 Failed
Doing this for match 1074966
Doing this for match 1074964
1074961 Failed
1074962 Failed
1074959 Failed
Doing this for match 1074957
1074958 Failed
Doing this for match 1019983
Doing this for match 1019981
Doing this for match 1019979
1072208 Failed
1072207 Failed
1072206 Failed
Doing this for match 1050221
Doing this for match 1050219
Doing this for match 1050217
Doing this for match 995469
Doing this for match 913663
Doing this for match 995467
Doing this for match 1004729
1041617 Failed
Doing this for match 1041615
Doing this for match 913633
Doing this for match 1007659
Doing this for match 1007657
Doing this for match 1007655
Doing this for match 951373
Doing this for match 951371
Doing this for match 951369
Doing this for match 951367
Doing this for match 951363
951365 Failed
Doing this for match 951359
Doing this for match 951361
951355 Failed
Doing this for match 951357
951351 Failed
Doing this for match 951353
951349 Failed
Doing this for match 951347
951343 Failed
Doing this for match 951345
951341 Failed
Doing this for match 951337
Doing this for match 951339

951335 Failed
Doing this for match 951331
951333 Failed
Doing this for match 951329
Doing this for match 951325
951327 Failed
951321 Failed
Doing this for match 951323
951319 Failed
Doing this for match 951313
951315 Failed
Doing this for match 884351
Doing this for match 951309
951311 Failed
Doing this for match 951305
951307 Failed
Doing this for match 884349
Doing this for match 966765
Doing this for match 884347
966763 Failed
966761 Failed
966759 Failed
Doing this for match 966757
966755 Failed
Doing this for match 966753
966751 Failed
966749 Failed
966747 Failed
Doing this for match 966745
966741 Failed
966743 Failed
Doing this for match 800481
966739 Failed
966737 Failed
Doing this for match 800479
966713 Failed
966735 Failed
954743 Failed
954741 Failed
Doing this for match 963701
Doing this for match 963699
Doing this for match 954737
Doing this for match 963697
Doing this for match 954735
966373 Failed
967081 Failed
Doing this for match 895821
Doing this for match 953105
Doing this for match 953103
Doing this for match 895819
Doing this for match 895817
914225 Failed
Doing this for match 958421
Doing this for match 958419
914223 Failed
Doing this for match 958417
914221 Failed
Doing this for match 958415
Doing this for match 914219
953347 Failed
953345 Failed
Doing this for match 914217
902653 Failed
930585 Failed
902651 Failed
902649 Failed
930579 Failed
930577 Failed
930573 Failed
930575 Failed
Doing this for match 931398
Doing this for match 931396
Doing this for match 915785
Doing this for match 915783
924639 Failed
924637 Failed
Doing this for match 903589
Doing this for match 903587
919605 Failed
919603 Failed
Doing this for match 743975
Doing this for match 848841
Doing this for match 848839
Doing this for match 894293
860281 Failed
860279 Failed
Doing this for match 875549
875551 Failed
Doing this for match 875553
875545 Failed
875541 Failed
Doing this for match 885971
Doing this for match 875513
Doing this for match 875521
Doing this for match 885969
Doing this for match 875501
Doing this for match 875507
Doing this for match 875491
875481 Failed
875485 Failed
Doing this for match 875471
875467 Failed
875457 Failed
875459 Failed
Doing this for match 817205
Doing this for match 817203
Doing this for match 883345
Doing this for match 883343
Doing this for match 743953
Doing this for match 889463
868725 Failed
868723 Failed
858491 Failed
Doing this for match 736063
Doing this for match 722337
Doing this for match 722335
754039 Failed
742617 Failed
Doing this for match 802327
Doing this for match 754721
Doing this for match 754719
Doing this for match 754717
727917 Failed
Doing this for match 667731
730293 Failed
Doing this for match 730285
Doing this for match 730283
Doing this for match 667887
Doing this for match 682965
Doing this for match 682963
Doing this for match 682961
Doing this for match 682957
682959 Failed
Doing this for match 682953
Doing this for match 682955
682949 Failed
Doing this for match 682951
Doing this for match 682945
Doing this for match 682947
Doing this for match 682941
682943 Failed
Doing this for match 682937
Doing this for match 682939
682935 Failed
Doing this for match 682931
Doing this for match 682933
682927 Failed
Doing this for match 682929
Doing this for match 682923
Doing this for match 682925
Doing this for match 682917
Doing this for match 682919
682921 Failed
682913 Failed
Doing this for match 682915
Doing this for match 682909
Doing this for match 682911
682905 Failed
Doing this for match 682907
Doing this for match 682901
Doing this for match 682903
682897 Failed
Doing this for match 682899
Doing this for match 648683
Doing this for match 636538
Doing this for match 648681
Doing this for match 636537
Doing this for match 636536
Doing this for match 702143
Doing this for match 702141
Doing this for match 690353
Doing this for match 690351
Doing this for match 636166
Doing this for match 636165
Doing this for match 636164
Doing this for match 661697
Doing this for match 661695
657635 Failed
657633 Failed
657631 Failed
660235 Failed
Doing this for match 660223
Doing this for match 660209
660203 Failed
Doing this for match 660185
Doing this for match 660173
685729 Failed
Doing this for match 668969
685727 Failed
Doing this for match 660149
Doing this for match 660113
660123 Failed
649103 Failed
660107 Failed
649101 Failed
668959 Failed
662387 Failed
Doing this for match 647247
662383 Failed
Doing this for match 566938
Doing this for match 566937
659547 Failed
659545 Failed
Doing this for match 635660
Doing this for match 635659
Doing this for match 635658
645647 Failed
645645 Failed
566927 Failed
Doing this for match 566926
Doing this for match 623572
623571 Failed
Doing this for match 592276
Doing this for match 630951
Doing this for match 602477
Doing this for match 592269
Doing this for match 592268
592273 Failed
567367 Failed
592272 Failed
Doing this for match 593987
Doing this for match 593986
Doing this for match 569239
Doing this for match 573027
Doing this for match 569238
Doing this for match 569237
Doing this for match 573020
Doing this for match 573019
589307 Failed
Doing this for match 567355
589306 Failed
Doing this for match 567354
Doing this for match 565811
Doing this for match 567353
Doing this for match 565810
587476 Failed
582186 Failed
Doing this for match 533298
Doing this for match 533297
533296 Failed
533294 Failed
Doing this for match 533295
533292 Failed
Doing this for match 533293
Doing this for match 533290
533291 Failed
Doing this for match 533288
Doing this for match 533289
533286 Failed
Doing this for match 533287
533284 Failed
Doing this for match 533285
533283 Failed
533282 Failed
533280 Failed
Doing this for match 533281
Doing this for match 533278
Doing this for match 533279
533276 Failed
533277 Failed
Doing this for match 533275
Doing this for match 533273
533274 Failed
Doing this for match 533272
Doing this for match 534235
Doing this for match 565820
534234 Failed
Doing this for match 571150
Doing this for match 534233
571149 Failed
Doing this for match 571148
Doing this for match 564786
573672 Failed
567205 Failed
567071 Failed
Doing this for match 560922
Doing this for match 560921
Doing this for match 534208
562438 Failed
562437 Failed
Doing this for match 540174
Doing this for match 556252
Doing this for match 540173
546477 Failed
Doing this for match 546470
Doing this for match 546473
Doing this for match 546462
Doing this for match 546442
546443 Failed
Doing this for match 546414
546418 Failed
Doing this for match 546410
531637 Failed
531636 Failed
Doing this for match 543885
531635 Failed
Doing this for match 543884
Doing this for match 520599
Doing this for match 543883
Doing this for match 520598
Doing this for match 520597
Doing this for match 520596
Doing this for match 520595
518955 Failed
518954 Failed
538068 Failed
530432 Failed
Doing this for match 521217
Doing this for match 527013
Doing this for match 514024
Doing this for match 527012
Doing this for match 514023
Doing this for match 531982
Doing this for match 525817
Doing this for match 525816
523736 Failed
Doing this for match 523735
Doing this for match 474476
Doing this for match 516205
Doing this for match 516204
Doing this for match 474466
Doing this for match 489220
489212 Failed
Doing this for match 446961
Doing this for match 446960
Doing this for match 463149
473920 Failed
473919 Failed
473918 Failed
Doing this for match 446956
461565 Failed
478279 Failed
Doing this for match 463142
Doing this for match 463141
426418 Failed
426417 Failed
426393 Failed
426392 Failed
Doing this for match 452154
Doing this for match 452153
Doing this for match 456992
Doing this for match 456991
Doing this for match 447539
Doing this for match 439146
Doing this for match 412703
412702 Failed
Doing this for match 412701
Doing this for match 412699
Doing this for match 412700
412697 Failed
Doing this for match 412698
Doing this for match 412695
Doing this for match 412696
412693 Failed
Doing this for match 412694
Doing this for match 412691
Doing this for match 412692
412689 Failed
Doing this for match 412690
412687 Failed
Doing this for match 412688
412681 Failed
Doing this for match 412684
Doing this for match 412685
Doing this for match 412686
Doing this for match 412682

412683 Failed
412679 Failed
412680 Failed
Doing this for match 412677
Doing this for match 412678
423788 Failed
Doing this for match 439139
Doing this for match 423787
Doing this for match 406198
Doing this for match 406197
440946 Failed
Doing this for match 440945
Doing this for match 439510
439511 Failed
439507 Failed
Doing this for match 439505
Doing this for match 439499
439495 Failed
Doing this for match 439497
Doing this for match 406207
Doing this for match 423782
Doing this for match 430885
Doing this for match 430884
Doing this for match 387564
Doing this for match 387563
426724 Failed
426723 Failed
Doing this for match 403386
Doing this for match 403385
350050 Failed
403375 Failed
401076 Failed
356017 Failed
Doing this for match 356016
356015 Failed
Doing this for match 356013
Doing this for match 356014
Doing this for match 356011
356012 Failed
Doing this for match 356009
Doing this for match 356010
Doing this for match 356007
356008 Failed
356005 Failed
Doing this for match 356006
Doing this for match 356003
Doing this for match 356004
Doing this for match 356001
Doing this for match 356002
355999 Failed
Doing this for match 356000
355997 Failed
Doing this for match 355998
Doing this for match 355995
355996 Failed
Doing this for match 355992
Doing this for match 355993
355994 Failed
Doing this for match 355991
392615 Failed
Doing this for match 350476
Doing this for match 350475
Doing this for match 352674
Doing this for match 366622
Doing this for match 386494
Doing this for match 351696
Doing this for match 386535
Doing this for match 351695
Doing this for match 351694
Doing this for match 366708
366707 Failed
350347 Failed
361660 Failed
361656 Failed
Doing this for match 361530
Doing this for match 361531
Doing this for match 354456
Doing this for match 319142
Doing this for match 296903
343764 Failed
Doing this for match 300436
Doing this for match 300435
Doing this for match 291356
Doing this for match 298804
Doing this for match 319112
Doing this for match 291343
Doing this for match 298795
Doing this for match 297800
287879 Failed
287877 Failed
Doing this for match 287878
Doing this for match 287874
287875 Failed
Doing this for match 287876
Doing this for match 287872
Doing this for match 287873
Doing this for match 287869
287870 Failed
Doing this for match 287871
287868 Failed
Doing this for match 287865
Doing this for match 287866
Doing this for match 287867
Doing this for match 287863
Doing this for match 287864
Doing this for match 287860
Doing this for match 287861
287862 Failed
Doing this for match 287857
Doing this for match 287858
Doing this for match 287854
287855 Failed
Doing this for match 287856
Doing this for match 287853
Doing this for match 306991
306989 Failed
Doing this for match 306987
Doing this for match 258464
Doing this for match 258463
Doing this for match 249227
Doing this for match 251488
Doing this for match 251487
Doing this for match 255954
225263 Failed
Doing this for match 225271
Doing this for match 238195
237242 Failed
Doing this for match 226374
222678 Failed
Doing this for match 211028
Doing this for match 211048

In [20]:
allData_list = allData.to_list()

In [21]:
match_player_stats = pd.concat(allData_list)
match_player_stats

                     Batting Stats                                            \
                                P1
                               Mat  Inns    NO    Runs     HS    Ave      BF
1381452 Austria               33.0  26.0   2.0   428.0   65.0  17.83   440.0
        Germany               40.0  34.0   7.0   460.0   61.0  17.03   449.0
1381451 Austria               33.0  26.0   2.0   428.0   65.0  17.83   440.0
        Germany               40.0  34.0   7.0   460.0   61.0  17.03   449.0
1381456 Croatia                9.0   7.0   1.0    93.0   32.0  15.50    72.0
...                            ...   ...   ...     ...    ...    ...     ...
226374  South Africa          33.0  33.0   2.0   982.0   89.0  31.67   770.0
211028  England                3.0   3.0   0.0   166.0   72.0  55.33   131.0
        Australia             13.0  13.0   1.0   272.0   48.0  22.66   192.0
211048  Australia             13.0  13.0   1.0   272.0   48.0  22.66   192.0
        New Zealand           71.0  70.0  10.0  2140.0  123.0  35.66  1571.0

                                          ... Bowling Stats                  \
                                P2        ...           P10             P11
                          SR   Mat  Inns  ...           Ave      Econ   Mat
1381452 Austria        97.27  25.0  21.0  ...     15.070000  7.400000  30.0
        Germany       102.44  10.0   9.0  ...     28.038534  8.036798  29.0
1381451 Austria        97.27  25.0  21.0  ...     16.410000  6.200000  23.0
        Germany       102.44  10.0   9.0  ...     18.470000  6.900000  20.0
1381456 Croatia       129.16   8.0   5.0  ...     28.038534  3.000000   3.0
...                      ...   ...   ...  ...           ...       ...   ...
226374  South Africa  127.53   1.0   1.0  ...     18.230000  6.580000   2.0
211028  England       126.71   2.0   2.0  ...     11.400000  8.140000   2.0
        Australia     141.66   9.0   9.0  ...     16.330000  7.170000   2.0
211048  Australia     141.66  34.0  28.0  ...     28.550000  8.210000   3.0
        New Zealand   136.21   5.0   5.0  ...     11.400000  8.140000   2.0



                      Inns Overs Mdns   Runs  Wkts        Ave   Econ
1381452 Austria        1.0   1.0  0.0   16.0   0.0  28.038534  16.00
        Germany       28.0  91.0  0.0  628.0  34.0  18.470000   6.90
1381451 Austria       23.0  88.0  0.0  536.0  28.0  19.140000   6.09
        Germany       20.0  50.3  1.0  415.0  13.0  31.920000   8.21
1381456 Croatia        3.0   4.5  0.0   29.0   0.0  28.038534   6.00
...                    ...   ...  ...    ...   ...        ...    ...
226374  South Africa   2.0   7.3  0.0   49.0   4.0  12.250000   6.53
211028  England        2.0   8.0  0.0   79.0   5.0  15.800000   9.87
        Australia      2.0   6.3  0.0   42.0   1.0  42.000000   6.46
211048  Australia      3.0  10.0  0.0   93.0   3.0  31.000000   9.30
        New Zealand    2.0   8.0  0.0   79.0   5.0  15.800000   9.87

[2526 rows x 176 columns]

### Saving this in a pickle file for later use

This is one of our main data that willl be fed directly to our neural network

In order to access it, you will use the following command:

```py
match_player_stats = pd.read_pickle("../Resources/MatchData/match_player_stats.pkl")
```

In [22]:
match_player_stats.to_pickle("../Resources/MatchData/match_player_stats.pkl")

In [23]:
match_player_stats = pd.read_pickle("../Resources/MatchData/match_player_stats.pkl")
match_player_stats

                     Batting Stats                                            \
                                P1
                               Mat  Inns    NO    Runs     HS    Ave      BF
1381452 Austria               33.0  26.0   2.0   428.0   65.0  17.83   440.0
        Germany               40.0  34.0   7.0   460.0   61.0  17.03   449.0
1381451 Austria               33.0  26.0   2.0   428.0   65.0  17.83   440.0
        Germany               40.0  34.0   7.0   460.0   61.0  17.03   449.0
1381456 Croatia                9.0   7.0   1.0    93.0   32.0  15.50    72.0
...                            ...   ...   ...     ...    ...    ...     ...
226374  South Africa          33.0  33.0   2.0   982.0   89.0  31.67   770.0
211028  England                3.0   3.0   0.0   166.0   72.0  55.33   131.0
        Australia             13.0  13.0   1.0   272.0   48.0  22.66   192.0
211048  Australia             13.0  13.0   1.0   272.0   48.0  22.66   192.0
        New Zealand           71.0  70.0  10.0  2140.0  123.0  35.66  1571.0

                                          ... Bowling Stats                  \
                                P2        ...           P10             P11
                          SR   Mat  Inns  ...           Ave      Econ   Mat
1381452 Austria        97.27  25.0  21.0  ...     15.070000  7.400000  30.0
        Germany       102.44  10.0   9.0  ...     28.038534  8.036798  29.0
1381451 Austria        97.27  25.0  21.0  ...     16.410000  6.200000  23.0
        Germany       102.44  10.0   9.0  ...     18.470000  6.900000  20.0
1381456 Croatia       129.16   8.0   5.0  ...     28.038534  3.000000   3.0
...                      ...   ...   ...  ...           ...       ...   ...
226374  South Africa  127.53   1.0   1.0  ...     18.230000  6.580000   2.0
211028  England       126.71   2.0   2.0  ...     11.400000  8.140000   2.0
        Australia     141.66   9.0   9.0  ...     16.330000  7.170000   2.0
211048  Australia     141.66  34.0  28.0  ...     28.550000  8.210000   3.0
        New Zealand   136.21   5.0   5.0  ...     11.400000  8.140000   2.0



                      Inns Overs Mdns   Runs  Wkts        Ave   Econ
1381452 Austria        1.0   1.0  0.0   16.0   0.0  28.038534  16.00
        Germany       28.0  91.0  0.0  628.0  34.0  18.470000   6.90
1381451 Austria       23.0  88.0  0.0  536.0  28.0  19.140000   6.09
        Germany       20.0  50.3  1.0  415.0  13.0  31.920000   8.21
1381456 Croatia        3.0   4.5  0.0   29.0   0.0  28.038534   6.00
...                    ...   ...  ...    ...   ...        ...    ...
226374  South Africa   2.0   7.3  0.0   49.0   4.0  12.250000   6.53
211028  England        2.0   8.0  0.0   79.0   5.0  15.800000   9.87
        Australia      2.0   6.3  0.0   42.0   1.0  42.000000   6.46
211048  Australia      3.0  10.0  0.0   93.0   3.0  31.000000   9.30
        New Zealand    2.0   8.0  0.0   79.0   5.0  15.800000   9.87

[2526 rows x 176 columns]

# Working on Player Status

- Like working on player stats for each ball, we will be working on player status now.
- Here is the player status key:
    | Status | Definition|
    | --- | --- |
    | 0 | Player is out |
    | 1 | Player is in game |
    | 5 | Player is non striker |
    | 10 | Player is baller | 
    | 10 | Player is batsman |

**Defining the function that returns a dataframe from each Country's data**

The countryDF is goin to be a default dataframe row that will be copied in the function to create each row like this

In [24]:
innings = innings.sort_index(level = "Match Code")
country_columns = pd.MultiIndex.from_product([['Batting Team', "Bowling Team"], ["P" + str(i) for i in range(1, 12)]])
countryDF = pd.DataFrame(columns = country_columns)
eachEntry = pd.Series(index = country_columns, dtype='float64')
countryDF = countryDF.append(eachEntry, ignore_index = True)
countryDF.fillna(1, inplace = True)
countryDF

  Batting Team                              ... Bowling Team                 \
            P1 P2 P3 P4 P5 P6 P7 P8 P9 P10  ...           P2 P3 P4 P5 P6 P7
0            1  1  1  1  1  1  1  1  1   1  ...            1  1  1  1  1  1


  P8 P9 P10 P11
0  1  1   1   1

[1 rows x 22 columns]

The eachBall and country_index here are being used to check if the function will work

In [25]:
country_index = 211028
eachBall = innings.loc[country_index].iloc[-3]
eachBall

batter               VS Solanki
bowler               GD McGrath
non_striker      PD Collingwood
batter runs                   0
extra runs                    0
total runs                    0
score                       175
extras                      NaN
wickets              VS Solanki
out                           1
Total Wickets                 7
non_boundary                NaN
review                      NaN
replacements                NaN
Name: (England, 19, 3), dtype: object

### Get Status Ball

- This function returns a dataframe row for each ball

In [26]:
# Get Status_ball will take in individual ball from the inning and return a dataframe with the status of that specific ball,
# This will be used with df.apply

def get_status_ball(eachBall, country_index):
    
    current_countryDF = countryDF.copy()
    # Working with the batter
    batsman = eachBall['batter']

    # This returns an index in form of multindex and player number is calculated from here
    batsmanIndex = match_data.columns[match_data.loc[country_index].isin([batsman])][0][1]
    current_countryDF['Batting Team', batsmanIndex] = 10

    # Working with the bowler
    bowler = eachBall['bowler']

    bowlerIndex = match_data.columns[match_data.loc[country_index].isin([bowler])][0][1]
    current_countryDF['Bowling Team', bowlerIndex] = 10

    # Working with the Non Striker
    non_striker = eachBall['non_striker']

    non_strikerIndex = match_data.columns[match_data.loc[country_index].isin([non_striker])][0][1]
    current_countryDF['Batting Team', non_strikerIndex] = 5

    # Working with the wickets
    wicket = eachBall['wickets']
    if not pd.isna(wicket):
        wicketIndex = match_data.columns[match_data.loc[country_index].isin([wicket])][0][1]
        current_countryDF['Batting Team', wicketIndex] = 0
        
    return current_countryDF

**This Shows how we are going to convert each innings wickets properly** 

**Along with a demo of how it will be used**

In [27]:
country_index = 211028
currcountry = innings.loc[country_index, 'Australia']

result = currcountry.apply(get_status_ball, args = (country_index,), axis = 1)
result = pd.concat(result.values, keys = result.index)

for column_name in result.columns:
    zero_index = result[result[column_name] == 0].index
    for index in zero_index:
        result.loc[index:, column_name] = 0
result

       Batting Team                              ... Bowling Team            \
                 P1 P2 P3 P4 P5 P6 P7 P8 P9 P10  ...           P2  P3 P4 P5
0  0 0           10  5  1  1  1  1  1  1  1   1  ...            1   1  1  1
   1 0           10  5  1  1  1  1  1  1  1   1  ...            1   1  1  1
   2 0           10  5  1  1  1  1  1  1  1   1  ...            1   1  1  1
   3 0           10  5  1  1  1  1  1  1  1   1  ...            1   1  1  1
   4 0           10  5  1  1  1  1  1  1  1   1  ...            1   1  1  1
...             ... .. .. .. .. .. .. .. ..  ..  ...          ...  .. .. ..
13 4 0            0  0  0  0  0  0  0  0  0   5  ...            1  10  1  1
   5 0            0  0  0  0  0  0  0  0  0   5  ...            1  10  1  1
14 0 0            0  0  0  0  0  0  0  0  0   5  ...            1   1  1  1
   1 0            0  0  0  0  0  0  0  0  0   5  ...            1   1  1  1
   2 0            0  0  0  0  0  0  0  0  0   5  ...            1   1  1  1


       P6 P7 P8 P9 P10 P11
0  0 0  1  1  1  1  10   1
   1 0  1  1  1  1  10   1
   2 0  1  1  1  1  10   1
   3 0  1  1  1  1  10   1
   4 0  1  1  1  1  10   1
...    .. .. .. ..  ..  ..
13 4 0  1  1  1  1   1   1
   5 0  1  1  1  1   1   1
14 0 0  1  1  1  1   1  10
   1 0  1  1  1  1   1  10
   2 0  1  1  1  1   1  10

[90 rows x 22 columns]

In [28]:
group = innings.loc[211028]
result = group.apply(get_status_ball, args = (country_index,), axis = 1)
result

Country    Over  Ball
Australia  0     0         Batting Team                              .....
                 1         Batting Team                              .....
                 2         Batting Team                              .....
                 3         Batting Team                              .....
                 4         Batting Team                              .....
                                               ...
England    19    1         Batting Team                               ....
                 2         Batting Team                               ....
                 3         Batting Team                              .....
                 4         Batting Team                               ....
                 5         Batting Team                              .....
Length: 215, dtype: object

In [29]:
eachCountry = pd.concat(result.values, keys = result.index)
eachCountry

                 Batting Team                                ... Bowling Team  \
                           P1 P2 P3 P4 P5  P6 P7  P8 P9 P10  ...           P2
Australia 0  0 0           10  5  1  1  1   1  1   1  1   1  ...            1
             1 0           10  5  1  1  1   1  1   1  1   1  ...            1
             2 0           10  5  1  1  1   1  1   1  1   1  ...            1
             3 0           10  5  1  1  1   1  1   1  1   1  ...            1
             4 0           10  5  1  1  1   1  1   1  1   1  ...            1
...                       ... .. .. .. ..  .. ..  .. ..  ..  ...          ...
England   19 1 0            1  1  1  1  1   5  1  10  1   1  ...            1
             2 0            1  1  1  1  1   5  1  10  1   1  ...            1
             3 0            1  1  1  1  1   5  1   0  1   1  ...            1
             4 0            1  1  1  1  1  10  1   1  5   1  ...            1
             5 0            1  1  1  1  1   0  1   1  5   1  ...            1


                 P3 P4 P5 P6 P7 P8 P9 P10 P11
Australia 0  0 0  1  1  1  1  1  1  1  10   1
             1 0  1  1  1  1  1  1  1  10   1
             2 0  1  1  1  1  1  1  1  10   1
             3 0  1  1  1  1  1  1  1  10   1
             4 0  1  1  1  1  1  1  1  10   1
...              .. .. .. .. .. .. ..  ..  ..
England   19 1 0  1  1  1  1  1  1  1   1  10
             2 0  1  1  1  1  1  1  1   1  10
             3 0  1  1  1  1  1  1  1   1  10
             4 0  1  1  1  1  1  1  1   1  10
             5 0  1  1  1  1  1  1  1   1  10

[215 rows x 22 columns]

In [30]:
eachCountry.index.names = ['Country', 'Over', 'Ball', 'todrop']
eachCountry = eachCountry.droplevel('todrop')
eachCountry

                    Batting Team                                ...  \
                              P1 P2 P3 P4 P5  P6 P7  P8 P9 P10  ...
Country   Over Ball                                             ...
Australia 0    0              10  5  1  1  1   1  1   1  1   1  ...
               1              10  5  1  1  1   1  1   1  1   1  ...
               2              10  5  1  1  1   1  1   1  1   1  ...
               3              10  5  1  1  1   1  1   1  1   1  ...
               4              10  5  1  1  1   1  1   1  1   1  ...
...                          ... .. .. .. ..  .. ..  .. ..  ..  ...
England   19   1               1  1  1  1  1   5  1  10  1   1  ...
               2               1  1  1  1  1   5  1  10  1   1  ...
               3               1  1  1  1  1   5  1   0  1   1  ...
               4               1  1  1  1  1  10  1   1  5   1  ...
               5               1  1  1  1  1   0  1   1  5   1  ...

                    Bowling Team
                              P2 P3 P4 P5 P6 P7 P8 P9 P10 P11
Country   Over Ball
Australia 0    0               1  1  1  1  1  1  1  1  10   1
               1               1  1  1  1  1  1  1  1  10   1
               2               1  1  1  1  1  1  1  1  10   1
               3               1  1  1  1  1  1  1  1  10   1
               4               1  1  1  1  1  1  1  1  10   1
...                          ... .. .. .. .. .. .. ..  ..  ..
England   19   1               1  1  1  1  1  1  1  1   1  10
               2               1  1  1  1  1  1  1  1   1  10
               3               1  1  1  1  1  1  1  1   1  10
               4               1  1  1  1  1  1  1  1   1  10
               5               1  1  1  1  1  1  1  1   1  10

[215 rows x 22 columns]

In [31]:
# get Status_group with take in individual group from the innings and return a dataframe with a status of that specific country
# This will be used with df.apply

def get_status_group(group):
    
    # Get Status_ball will take in individual ball from the inning and return a dataframe with the status of that specific ball,
    # This will be used with df.apply
    try:
        country_index = group.name[0]
        result = group.apply(get_status_ball, args = (country_index,), axis = 1)
        result = pd.concat(result.values, keys = result.index)
        result.index.names = ['Match Code', 'Country', 'Over', 'Ball', 'todrop']
        result = result.droplevel(['todrop', 'Match Code', 'Country'])
        for column_name in result.columns:
            zero_index = result[result[column_name] == 0].index
            for index in zero_index:
                result.loc[index:, column_name] = 0
    except:
        return
    else:
        return result

In [32]:
check_innings = innings.iloc[0:500]
check_matches = check_innings.groupby(['Match Code', 'Country'])
check_matches.apply(get_status_group)

                                 Batting Team                               \
                                           P1 P2 P3 P4 P5 P6 P7 P8  P9 P10
Match Code Country     Over Ball
211028     Australia   0    0              10  5  1  1  1  1  1  1   1   1
                            1              10  5  1  1  1  1  1  1   1   1
                            2              10  5  1  1  1  1  1  1   1   1
                            3              10  5  1  1  1  1  1  1   1   1
                            4              10  5  1  1  1  1  1  1   1   1
...                                       ... .. .. .. .. .. .. ..  ..  ..
211048     New Zealand 19   1               0  0  0  0  0  0  0  0  10   5
                            2               0  0  0  0  0  0  0  0   0   5
                            3               0  0  0  0  0  0  0  0   0   5
                            4               0  0  0  0  0  0  0  0   0   5
                            5               0  0  0  0  0  0  0  0   0   0

                                  ... Bowling Team                           \
                                  ...           P2 P3 P4 P5 P6 P7 P8 P9 P10
Match Code Country     Over Ball  ...
211028     Australia   0    0     ...            1  1  1  1  1  1  1  1  10
                            1     ...            1  1  1  1  1  1  1  1  10
                            2     ...            1  1  1  1  1  1  1  1  10
                            3     ...            1  1  1  1  1  1  1  1  10
                            4     ...            1  1  1  1  1  1  1  1  10
...                               ...          ... .. .. .. .. .. .. ..  ..
211048     New Zealand 19   1     ...            1  1  1  1  1  1  1  1   1
                            2     ...            1  1  1  1  1  1  1  1   1
                            3     ...            1  1  1  1  1  1  1  1   1
                            4     ...            1  1  1  1  1  1  1  1   1
                            5     ...            1  1  1  1  1  1  1  1   1


                                 P11
Match Code Country     Over Ball
211028     Australia   0    0      1
                            1      1
                            2      1
                            3      1
                            4      1
...                               ..
211048     New Zealand 19   1     10
                            2     10
                            3     10
                            4     10
                            5     10

[460 rows x 22 columns]

In [33]:
matches = innings.groupby(['Match Code', 'Country'])
player_status = matches.apply(get_status_group)

In [34]:
player_status

                               Batting Team                               ...  \
                                         P1 P2 P3 P4 P5 P6 P7 P8  P9 P10  ...
Match Code Country   Over Ball                                            ...
211028     Australia 0    0              10  5  1  1  1  1  1  1   1   1  ...
                          1              10  5  1  1  1  1  1  1   1   1  ...
                          2              10  5  1  1  1  1  1  1   1   1  ...
                          3              10  5  1  1  1  1  1  1   1   1  ...
                          4              10  5  1  1  1  1  1  1   1   1  ...
...                                     ... .. .. .. .. .. .. ..  ..  ..  ...
1381458    Turkey    19   1               0  0  0  0  0  0  0  0  10   5  ...
                          2               0  0  0  0  0  0  0  0  10   5  ...
                          3               0  0  0  0  0  0  0  0  10   5  ...
                          4               0  0  0  0  0  0  0  0  10   0  ...
                          5               0  0  0  0  0  0  0  0   5   0  ...

                               Bowling Team
                                         P2 P3 P4 P5 P6 P7 P8 P9 P10 P11
Match Code Country   Over Ball
211028     Australia 0    0               1  1  1  1  1  1  1  1  10   1
                          1               1  1  1  1  1  1  1  1  10   1
                          2               1  1  1  1  1  1  1  1  10   1
                          3               1  1  1  1  1  1  1  1  10   1
                          4               1  1  1  1  1  1  1  1  10   1
...                                     ... .. .. .. .. .. .. ..  ..  ..
1381458    Turkey    19   1               1  1  1  1  1  1  1  1   1  10
                          2               1  1  1  1  1  1  1  1   1  10
                          3               1  1  1  1  1  1  1  1   1  10
                          4               1  1  1  1  1  1  1  1   1  10
                          5               1  1  1  1  1  1  1  1   1  10

[401800 rows x 22 columns]

## Saving to disk

To access this, use the code:

```py
player_status = pd.read_pickle("../Resources/MatchData/player_status.pkl")
player_status
```

In [35]:
player_status.to_pickle("../Resources/MatchData/player_status.pkl")

In [36]:
player_status = pd.read_pickle("../Resources/MatchData/player_status.pkl")
player_status

                               Batting Team                               ...  \
                                         P1 P2 P3 P4 P5 P6 P7 P8  P9 P10  ...
Match Code Country   Over Ball                                            ...
211028     Australia 0    0              10  5  1  1  1  1  1  1   1   1  ...
                          1              10  5  1  1  1  1  1  1   1   1  ...
                          2              10  5  1  1  1  1  1  1   1   1  ...
                          3              10  5  1  1  1  1  1  1   1   1  ...
                          4              10  5  1  1  1  1  1  1   1   1  ...
...                                     ... .. .. .. .. .. .. ..  ..  ..  ...
1381458    Turkey    19   1               0  0  0  0  0  0  0  0  10   5  ...
                          2               0  0  0  0  0  0  0  0  10   5  ...
                          3               0  0  0  0  0  0  0  0  10   5  ...
                          4               0  0  0  0  0  0  0  0  10   0  ...
                          5               0  0  0  0  0  0  0  0   5   0  ...

                               Bowling Team
                                         P2 P3 P4 P5 P6 P7 P8 P9 P10 P11
Match Code Country   Over Ball
211028     Australia 0    0               1  1  1  1  1  1  1  1  10   1
                          1               1  1  1  1  1  1  1  1  10   1
                          2               1  1  1  1  1  1  1  1  10   1
                          3               1  1  1  1  1  1  1  1  10   1
                          4               1  1  1  1  1  1  1  1  10   1
...                                     ... .. .. .. .. .. .. ..  ..  ..
1381458    Turkey    19   1               1  1  1  1  1  1  1  1   1  10
                          2               1  1  1  1  1  1  1  1   1  10
                          3               1  1  1  1  1  1  1  1   1  10
                          4               1  1  1  1  1  1  1  1   1  10
                          5               1  1  1  1  1  1  1  1   1  10

[401800 rows x 22 columns]

In [37]:
innings

                                      batter         bowler      non_striker  \
Match Code Country   Over Ball
211028     Australia 0    0     AC Gilchrist        D Gough        ML Hayden
                          1     AC Gilchrist        D Gough        ML Hayden
                          2     AC Gilchrist        D Gough        ML Hayden
                          3     AC Gilchrist        D Gough        ML Hayden
                          4     AC Gilchrist        D Gough        ML Hayden
...                                      ...            ...              ...
1381458    Turkey    19   1     Murat Yilmaz  Huzaif Yousuf  Muhammet Kursat
                          2     Murat Yilmaz  Huzaif Yousuf  Muhammet Kursat
                          3     Murat Yilmaz  Huzaif Yousuf  Muhammet Kursat
                          4     Murat Yilmaz  Huzaif Yousuf  Muhammet Kursat
                          5       Murat Ipek  Huzaif Yousuf     Murat Yilmaz

                                batter runs  extra runs  total runs  score  \
Match Code Country   Over Ball
211028     Australia 0    0               0           0           0      0
                          1               4           0           4      4
                          2               0           0           0      4
                          3               0           0           0      4
                          4               4           0           4      8
...                                     ...         ...         ...    ...
1381458    Turkey    19   1               0           0           0    146
                          2               0           0           0    146
                          3               0           0           0    146
                          4               0           1           1    147
                          5               0           0           0    147

                                      extras          wickets  out  \
Match Code Country   Over Ball
211028     Australia 0    0              NaN              NaN    0
                          1              NaN              NaN    0
                          2              NaN              NaN    0
                          3              NaN              NaN    0
                          4              NaN              NaN    0
...                                      ...              ...  ...
1381458    Turkey    19   1              NaN              NaN    0
                          2              NaN              NaN    0
                          3              NaN              NaN    0
                          4     {'wides': 1}  Muhammet Kursat    1
                          5              NaN       Murat Ipek    1

                                Total Wickets non_boundary review replacements
Match Code Country   Over Ball
211028     Australia 0    0                 0          NaN    NaN          NaN
                          1                 0          NaN    NaN          NaN
                          2                 0          NaN    NaN          NaN
                          3                 0          NaN    NaN          NaN
                          4                 0          NaN    NaN          NaN
...                                       ...          ...    ...          ...
1381458    Turkey    19   1                 8          NaN    NaN          NaN
                          2                 8          NaN    NaN          NaN
                          3                 8          NaN    NaN          NaN
                          4                 9          NaN    NaN          NaN
                          5                10          NaN    NaN          NaN

[407789 rows x 14 columns]